:export {
  ratingFontFamily: --web-app-primary-font-family;
  ratingFontSize: --web-app-font-size-xl;
  ratingActiveColor: --web-app-rating-active-color;
  ratingDisabledColor: --web-app-rating-disable-color;
}
.container {
  display: flex;
  flex-direction: column;
}
.ratingPieChart {
  margin-block-end: var(--web-app-size-sm);
}
