.popup {
  position: fixed;
  max-width: var(--web-app-download-popup-width);
  top: 50%;
  left: 50%;
  z-index: 700;
  margin: 0 auto;
  margin-left: -250px;
  margin-top: -250px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--web-app-overlay-background);
  z-index: 500;
  display: block;
}

.downloadName > div :not(:last-child) :not(:first-child) {
  max-width: 150px;
}
