.tableRow {
  cursor: pointer;
}

.name {
  display: block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagWidth {
  width: max-content !important;
}

.detailsLink {
  display: inline-flex;
}

/* Colors of the 5 layers */
.interactie {
  --web-app-tag-background-color: var(--web-app-layer-color-interaction);
  --web-app-tag-color: var(--web-app-color-white);
}
.interactieCategory,
.interfaceCategory {
  --web-app-tag-background-color: var(--web-app-layer-category-color-interaction);
}

.proces,
.process,
.processs {
  --web-app-tag-background-color: var(--web-app-layer-color-process);
  --web-app-tag-color: var(--web-app-color-white);
}
.procesCategory,
.processCategory {
  --web-app-tag-background-color: var(--web-app-layer-category-color-process);
}

.integratie,
.integration {
  --web-app-tag-background-color: var(--web-app-layer-color-integration);
  --web-app-tag-color: var(--web-app-color-white);
}
.integratieCategory,
.integrationCategory {
  --web-app-tag-background-color: var(--web-app-layer-category-color-integration);
}

.services,
.service {
  --web-app-tag-background-color: var(--web-app-layer-color-services);
  --web-app-tag-color: var(--web-app-color-white);
}

.servicesCategory,
.serviceCategory {
  --web-app-tag-background-color: var(--web-app-layer-category-color-services);
}

.data {
  --web-app-tag-background-color: var(--web-app-layer-color-data);
  --web-app-tag-color: var(--web-app-color-white);
}
.dataCategory {
  --web-app-tag-background-color: var(--web-app-layer-category-color-data);
}
