.tableRow {
  cursor: pointer;
}

.tableRow:nth-of-type(even) > td {
  background-color: var(--web-app-color-table-grey);
}
.tableRow:nth-of-type(even):hover > td {
  background-color: var(--web-app-color-table-hover-grey);
}

.name {
  display: block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagWidth {
  width: max-content !important;
}

.detailsLink {
  display: inline-flex;
}

/* Colors of the 5 layers */
.interactionLayer,
.interfaceLayer {
  --conduction-tag-background-color: var(--rotterdam-color-base-green);
  --conduction-tag-color: var(--rotterdam-color-base-white);
}
.interactionCategory,
.interfaceCategory {
  --conduction-tag-background-color: var(--web-app-layer-category-color-interaction);
}

.processLayer,
.processsLayer {
  --conduction-tag-background-color: var(--rotterdam-color-base-green);
  --conduction-tag-color: var(--rotterdam-color-base-white);
}
.procesCategory,
.processCategory {
  --conduction-tag-background-color: var(--web-app-layer-category-color-process);
}

.integrationLayer {
  --conduction-tag-background-color: var(--rotterdam-color-base-green);
  --conduction-tag-color: var(--rotterdam-color-base-white);
}
.integrationCategory {
  --conduction-tag-background-color: var(--web-app-layer-category-color-integration);
}

.servicesLayer,
.serviceLayer {
  --conduction-tag-background-color: var(--rotterdam-color-base-green);
  --conduction-tag-color: var(--rotterdam-color-base-white);
}

.servicesCategory,
.serviceCategory {
  --conduction-tag-background-color: var(--web-app-layer-category-color-services);
}

.dataLayer {
  --conduction-tag-background-color: var(--rotterdam-color-base-green);
  --conduction-tag-color: var(--rotterdam-color-base-white);
}
.dataCategory {
  --conduction-tag-background-color: var(--web-app-layer-category-color-data);
}

.unknownLayer {
  --conduction-tag-background-color: var(--rotterdam-color-base-green);
  --conduction-tag-color: var(--rotterdam-color-base-white);
}
.unknownCategory {
  --conduction-tag-background-color: var(--web-app-layer-color-unknown);
}
