.header {
  background-color: var(--skeleton-color-secondary-3);
}

.top {
  background-color: var(--skeleton-color-secondary-5);
}

.headingContainer {
  padding-block-start: var(--skeleton-size-3xl);
  padding-block-end: var(--skeleton-size-3xl);
}

.title {
  padding-block-end: var(--skeleton-size-lg);
  color: var(--skeleton-color-white) !important;
}

.subTitle {
  font-weight: var(--skeleton-font-weight-light);
  color: var(--skeleton-color-white);
}

.secondaryNavContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
