.headerTopBar {
  display: none;
}
.headerMiddleBar {
  background-color: var(--conduction-primary-top-nav-background-color, inherit);
  box-shadow: 0px 10px 13px -14px #000000;
}

.secondaryNavContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.primaryNavContainer {
  position: fixed;
  width: 100%;
  background-color: var(--conduction-primary-top-nav-background-color, inherit);
  box-shadow: 0px 10px 13px -14px #000000;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: fit-content;
  height: var(--web-app-header-logo-container-height);
  border-radius: var(--web-app-header-logo-container-border-radius);
  padding: var(--web-app-header-logo-container-padding);
  background-color: var(--web-app-header-logo-container-background-color);
  margin-inline-end: var(--web-app-size-xs);
}

.logoDesktop {
  display: none;
}

.logoMobile {
  padding: var(--web-app-size-md);
}

.logoContainer > * {
  height: 100%;
}

.logoContainer > *:hover {
  cursor: pointer;
}

.logoContainer > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-lg);
}

.organizationLogo {
  background-size: contain;
  background-repeat: no-repeat;
  padding: var(--web-app-header-organization-logo-padding);
  width: var(--web-app-header-organization-logo-width);
  background-image: var(--web-app-header-organization-logo-src);
  background-color: var(--web-app-header-organization-logo-background-color);
  background-origin: content-box;
}

.headerContent {
  padding-block-start: var(--web-app-size-4xl);
  padding-block-end: var(--web-app-size-3xl);
  padding-inline-start: var(--web-app-size-md);
  padding-inline-end: var(--web-app-size-md);
  width: auto !important;
}

.headerSearchForm {
  display: flex;
  flex-direction: column;
}

.breadcrumbsContainer {
  margin-block-start: var(--web-app-size-sm);
  padding-block-start: var(--web-app-size-sm);
  padding-block-end: var(--web-app-size-sm);
}

.breadcrumbs {
  background-color: var(--utrecht-breadcrumb-nav-background-color);
  border-radius: var(--utrecht-breadcrumb-nav-border-radius);
}

.breadcrumbNavLink:hover {
  --utrecht-link-hover-color: var(--utrecht-breadcrumb-link-hover-color) !important;
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.section > .subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.title {
  color: var(--web-app-color-text-grey) !important;
}

.subTitle {
  color: var(--web-app-color-text-grey) !important;
}

.searchFormContainer {
  width: 100%;
  max-width: 650px;
}

.textColor {
  color: var(--web-app-color-text-grey) !important;
}

.denhaag-link__icon {
  align-items: center;
  display: inline-flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 0;
  vertical-align: text-top;
  width: var(--web-app-size-md);
}

.denhaag-link--with-icon-start {
  padding-inline-start: calc(var(--web-app-size-md) + var(--web-app-size-xs));
}

li .denhaag-link__icon {
  left: 0;
}

.breadcrumbDisabled {
  color: var(--utrecht-link-placeholder-color, --web-app-color-disabled) !important;
}

.breadcrumbDisabled:hover {
  color: var(--utrecht-link-placeholder-color, --web-app-color-disabled) !important;
  user-select: none !important;
}

.breadcrumbs > ol {
  align-items: baseline;
}

@media only screen and (min-width: 992px) {
  .logoContainer {
    display: flex;
  }

  .logoDesktop {
    display: block;
  }

  .logoMobile {
    display: none;
  }

  .headerContainer {
    padding-inline: 0;
    padding-block-start: 0;
  }

  .headerTopBar {
    display: block;
  }

  .primaryNavContainer {
    position: unset;
    top: unset;
    left: unset;
    width: auto;
    background-color: unset;
    box-shadow: unset;
    z-index: unset;
  }

  .headerContainer {
    padding-inline: var(--web-app-size-md);
  }

  .headerContent {
    padding-block-start: var(--web-app-size-3xl);
    padding-block-end: var(--web-app-size-3xl);
  }
}
