.headerContainer {
  background-color: var(--web-app-color-background-light);
}

.headerTopBar {
  background-color: var(--web-app-color-background-light);
}
.headerMiddleBar {
  background-color: var(--web-app-color-background-page-top-bar);
  box-shadow: 0px 10px 13px -14px #000000;
}

.secondaryNavContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-inline-start: var(--web-app-size-md);
  padding-inline-end: var(--web-app-size-md);
}

.primaryNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: var(--web-app-size-md);
  padding-inline-end: var(--web-app-size-md);
}

.logoContainer {
  display: flex;
  width: fit-content;
  height: var(--web-app-header-logo-container-height);
  border-radius: var(--web-app-header-logo-container-border-radius);
  padding: var(--web-app-header-logo-container-padding);
  background-color: var(--web-app-header-logo-container-background-color);
}

.logoContainer > * {
  height: 100%;
}

.logoContainer > *:hover {
  cursor: pointer;
}

.logoContainer > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-lg);
}

.organizationLogo {
  background-size: contain;
  background-repeat: no-repeat;
  padding: var(--web-app-header-organization-logo-padding);
  width: var(--web-app-header-organization-logo-width);
  background-image: var(--web-app-header-organization-logo-src);
  background-color: var(--web-app-header-organization-logo-background-color);
  background-origin: content-box;
}

.headerContent {
  padding-block-start: var(--web-app-size-3xl);
  padding-block-end: var(--web-app-size-3xl);
  padding-inline-start: var(--web-app-size-md);
  padding-inline-end: var(--web-app-size-md);
}

.headerSearchForm {
  display: flex;
  flex-direction: column;
}

.breadcrumbsContainer {
  padding-inline-start: var(--web-app-size-sm);
  padding-inline-end: var(--web-app-size-sm);
  padding-block-start: var(--web-app-size-sm);
  padding-block-end: var(--web-app-size-sm);
  --denhaag-breadcrumb-color: var(--web-app-breadcrumb-color);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.section > .subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.title {
  color: var(--web-app-color-text-grey);
}

.subTitle {
  color: var(--web-app-color-text-grey);
}

.searchFormContainer {
  width: 100%;
  max-width: 650px;
}
