.header {
  background-color: var(--web-app-color-background-page-header);
}

.top {
  background-color: var(--web-app-color-background-page-top-bar);
}

.headingContainer {
  padding-block-start: var(--web-app-size-3xl);
  padding-block-end: var(--web-app-size-3xl);
}

.title {
  padding-block-end: var(--web-app-size-lg);
  color: var(--web-app-color-page-header) !important;
}

.subTitle {
  font-weight: var(--web-app-font-weight-light);
  color: var(--web-app-color-page-header);
}

.secondaryNavContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
