.headerContainer {
  padding-inline: var(--web-app-size-md);
  padding-block-start: var(--web-app-size-xl);
  background-color: var(--web-app-color-background-light);
}

.headerTopBar {
  display: none;
  background-color: var(--web-app-color-background-light);
}
.headerMiddleBar {
  background-color: var(--web-app-color-background-page-top-bar);
  box-shadow: 0px 10px 13px -14px #000000;
}

.secondaryNavContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.primaryNavContainer {
  position: fixed;
  top: var(--web-app-size-md);
  left: var(--web-app-size-md);
  width: calc(100% - (var(--web-app-size-md) * 2)) !important;
  background-color: var(--web-app-color-background-page-top-bar);
  box-shadow: 0px 10px 13px -14px #000000;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  width: fit-content;
  height: var(--web-app-header-logo-container-height);
  border-radius: var(--web-app-header-logo-container-border-radius);
  padding: var(--web-app-header-logo-container-padding);
  background-color: var(--web-app-header-logo-container-background-color);
}

.logoDesktop {
  display: none;
}

.logoMobile {
  padding: var(--web-app-size-md);
}

.logoContainer > * {
  height: 100%;
}

.logoContainer > *:hover {
  cursor: pointer;
}

.logoContainer > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-lg);
}

.organizationLogo {
  background-size: contain;
  background-repeat: no-repeat;
  padding: var(--web-app-header-organization-logo-padding);
  width: var(--web-app-header-organization-logo-width);
  background-image: var(--web-app-header-organization-logo-src);
  background-color: var(--web-app-header-organization-logo-background-color);
  background-origin: content-box;
}

.headerContent {
  padding-block-start: var(--web-app-size-3xl);
  padding-block-end: var(--web-app-size-3xl);
}

.headerSearchForm {
  display: flex;
  flex-direction: column;
}

.breadcrumbsContainer {
  padding-block-start: var(--web-app-size-sm);
  padding-block-end: var(--web-app-size-sm);
  --denhaag-breadcrumb-color: var(--web-app-breadcrumb-color);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.section > .subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.title {
  color: var(--web-app-color-text-grey) !important;
}

.subTitle {
  color: var(--web-app-color-text-grey) !important;
}

.searchFormContainer {
  width: 100%;
  max-width: 650px;
}

.textColor {
  color: var(--web-app-color-text-grey) !important;
}

@media only screen and (min-width: 992px) {
  .logoContainer {
    display: flex;
  }

  .logoDesktop {
    display: block;
  }

  .logoMobile {
    display: none;
  }

  .headerContainer {
    padding-inline: 0;
    padding-block-start: 0;
  }

  .headerTopBar {
    display: block;
  }

  .primaryNavContainer {
    position: unset;
    top: unset;
    left: unset;
    width: auto;
    background-color: unset;
    box-shadow: unset;
    z-index: unset;
  }
}
