.container {
  margin-block-start: var(--web-app-size-4xl);
}

.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-3xl);
}

.container > .backButton {
  margin-block-start: var(--web-app-size-2xl);
  margin-block-end: var(--web-app-size-sm);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.section {
  color: var(--web-app-color-text-grey) !important;
}

.title {
  color: var(--web-app-color-text-grey) !important;
  word-break: break-all;
}

.description {
  color: var(--web-app-color-text-grey) !important;
}

.icon {
  margin-inline-end: var(--web-app-size-xs);
}

.backButton:hover {
  cursor: pointer;
}

.headerContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--web-app-size-xl);
  margin-block-end: var(--web-app-size-2xl);
}

.headerOrganizationDescription {
  flex: 2;
}

.headerOrganizationData {
  flex: 1;
}

.headerOrganizationData > *:not(:last-child) {
  margin-block-end: var(--web-app-size-lg);
}

.tagsContainer {
  display: flex;
  gap: var(--web-app-size-xs);
}

.headerContent {
  flex: 2;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.headerLogo {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.components > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.badgeLayout {
  margin-inline-start: var(--web-app-size-xs);
}

@media only screen and (min-width: 576px) {
  .headerContainer {
    display: flex;
    gap: var(--web-app-size-xl);
    justify-content: space-between;
  }

  .logoContainer {
    height: var(--web-app-organization-detail-logo-height);
    width: var(--web-app-organization-detail-logo-width);
    max-height: 300px;
    max-width: 350px;
    display: flex;
    justify-content: center;
  }
}
