.container {
  margin-block-start: var(--web-app-size-4xl);
}

.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-3xl);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.headerContainer {
  display: flex;
  gap: var(--web-app-size-xl);
  justify-content: space-between;
}

.headerOrganizationDescription {
  flex: 2;
}

.headerOrganizationData {
  flex: 1;
}

.headerOrganizationData > *:not(:last-child) {
  margin-block-end: var(--web-app-size-2xl);
}

.tagsContainer > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.tagsContainer > div {
  margin-block-end: var(--web-app-size-xs);
}

.logo {
  max-width: 100%;
  max-height: 100px;
}

.tab {
  max-width: unset !important;
}

.tabPanel {
  padding: 0 !important;
}

.components > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.badgeLayout {
  margin-inline-start: var(--web-app-size-xs);
  align-items: inherit !important;
}
