:root {
  --web-app-link-icon-gap: 0.3em;

  --conduction-secondary-top-nav-item-padding: var(--web-app-secondary-top-nav-item-padding);
  --conduction-secondary-top-nav-font-size: var(--web-app-secondary-top-nav-font-size);
  --conduction-secondary-top-nav-color: var(--web-app-color-text-grey);
  --conduction-secondary-top-nav-background-color-hover: var(--web-app-secondary-top-nav-background-color-hover);
  --conduction-secondary-top-nav-font-weight: var(--web-app-secondary-top-nav-font-weight);
  --conduction-secondary-top-nav-background-color-active: var(--web-app-secondary-top-nav-background-color-active);
  --conduction-secondary-top-nav-item-icon-margin: var(--web-app-size-2xs);

  --conduction-primary-top-nav-item-padding: var(--web-app-primary-top-nav-item-padding);
  --conduction-primary-top-nav-color: var(--web-app-color-text-grey);
  --conduction-primary-top-nav-background-color: var(--web-app-primary-top-nav-background-color);
  --conduction-primary-top-nav-background-color-hover: var(--web-app-primary-top-nav-background-color-hover);
  --conduction-primary-top-nav-dropdown-border-radius: var(--web-app-primary-top-nav-dropdown-border-radius);
  --conduction-primary-top-nav-background-color-active: var(--web-app-primary-top-nav-background-color-active);
  --conduction-primary-top-nav-box-shadow-active: var(--web-app-primary-top-nav-box-shadow-active);
  --conduction-primary-top-nav-item-icon-margin: var(--web-app-size-2xs);

  --denhaag-focus-border: var(--web-app-focus-border);
  --denhaag-heading-line-height: var(--web-app-line-height-md);
  --denhaag-heading-color: var(--web-app-color-heading);
  --utrecht-heading-font-weight: var(--web-app-font-weight-bold);
  --utrecht-heading-font-family: var(--web-app-primary-font-family);
  --utrecht-heading-color: var(--web-app-color-primary-text);
  --utrecht-heading-5-font-size: var(--web-app-font-size-md);
  --utrecht-heading-4-font-size: var(--web-app-font-size-lg);
  --utrecht-heading-3-font-size: var(--web-app-font-size-xl);
  --utrecht-heading-2-font-size: var(--web-app-font-size-2xl);
  --utrecht-heading-1-font-size: var(--web-app-font-size-3xl);

  --utrecht-paragraph-lead-line-height: var(--web-app-line-height-md);
  --utrecht-paragraph-margin-block-end: 0;
  --utrecht-paragraph-margin-block-start: 0;
  --utrecht-paragraph-lead-font-size: var(--web-app-font-size-lg);
  --utrecht-paragraph-line-height: var(--web-app-line-height-md);
  --utrecht-paragraph-font-weight: var(--web-app-font-weight-normal);
  --utrecht-paragraph-font-size: var(--web-app-font-size-md);
  --utrecht-paragraph-font-family: var(--web-app-content-font-family);
  --utrecht-paragraph-color: var(--web-app-color-primary-text);

  --denhaag-button-secondary-action-disabled-color: var(--web-app-color-disabled);
  --denhaag-button-secondary-action-disabled-border-color: var(--web-app-color-disabled);
  --denhaag-button-secondary-action-disabled-background-color: var(--web-app-color-white);

  --denhaag-button-secondary-action-hover-color: var(--web-app-color-secondary-action-hover);
  --denhaag-button-secondary-action-hover-border-color: var(--web-app-color-secondary-action-hover);
  --denhaag-button-secondary-action-hover-background-color: var(--web-app-color-white);
  --denhaag-button-secondary-action-border-color: var(--web-app-color-secondary-action);
  --denhaag-button-secondary-action-color: var(--web-app-color-secondary-action);
  --denhaag-button-secondary-action-background-color: var(--web-app-color-white);

  --denhaag-button-large-size-padding-block: var(--web-app-size-xs);
  --denhaag-button-border-width: var(--web-app-size-4xs);
  --denhaag-button-large-size-padding-inline: var(--web-app-size-lg);
  --denhaag-button-primary-action-disabled-color: var(--web-app-color-white);
  --denhaag-button-primary-action-disabled-background-color: var(--web-app-color-disabled);
  --denhaag-button-primary-action-hover-color: var(--web-app-color-white);
  --denhaag-button-primary-action-hover-background-color: var(--web-app-color-primary-action-hover);
  --denhaag-button-primary-action-color: var(--web-app-color-white);
  --denhaag-button-primary-action-background-color: var(--web-app-color-primary-action);
  --denhaag-button-focus-border-style: var(--web-app-focus-border-style);
  --denhaag-button-focus-border-width: var(--web-app-focus-border-width);
  --denhaag-button-padding-inline: var(--web-app-size-md);
  --denhaag-button-padding-block: var(--web-app-size-xs);
  --denhaag-button-font-family: var(--web-app-content-font-family);
  --denhaag-button-border-radius: var(--web-app-border-radius-md);
  --denhaag-button-medium-size-padding-inline: var(--denhaag-button-padding-inline);
  --denhaag-button-medium-size-padding-block: var(--denhaag-button-padding-block);
  --denhaag-button-focus-border-color: var(--web-app-focus-border-color);
  --utrecht-button-margin-block-end: 0;
  --utrecht-button-margin-block-start: 0;
  --utrecht-button-margin-inline-end: 0;
  --utrecht-button-margin-inline-start: 0;

  --denhaag-link-disabled-color: var(--web-app-color-disabled);
  --denhaag-link-hover-color: var(--web-app-color-link-active);
  --denhaag-link-focus-color: var(--web-app-color-link-active);
  --denhaag-link-color: var(--web-app-color-link);
  --denhaag-link-icon-size: var(--web-app-size-md);
  --denhaag-link-icon-gap: var(--web-app-size-2xs);
  --denhaag-link-icon-margin-end: var(--web-app-size-xs);
  --denhaag-link-icon-margin-start: var(--web-app-size-xs);
  --denhaag-link-padding: var(--web-app-size-xs);
  --utrecht-link-hover-color: var(--web-app-color-link-active);
  --utrecht-link-focus-color: var(--web-app-color-link-active);
  --utrecht-link-color: var(--web-app-color-link);
  --utrecht-link-text-decoration: underline;

  --denhaag-form-field-description-error-color: var(--web-app-color-invalid);
  --denhaag-form-field-description-line-height: var(--web-app-line-height-md);
  --denhaag-form-field-description-font-weight: var(--web-app-font-weight-normal);
  --denhaag-form-field-description-color: var(--web-app-color-primary-text);
  --denhaag-form-field-label-margin-block-end: var(--web-app-size-2xs);
  --denhaag-form-field-description-font-family: var(--web-app-content-font-family);
  --denhaag-form-progress-progress-height: var(--web-app-size-3xs);
  --denhaag-form-progress-header-margin-block-end: var(--web-app-size-md);
  --denhaag-form-input-margin-block-end: 0;
  --denhaag-form-input-margin-block-start: 0;
  --denhaag-form-group-margin-block-end: var(--web-app-size-xs);
  --denhaag-form-group-margin-block-start: var(--web-app-size-xs);
  --denhaag-form-group-margin-inline-end: var(--web-app-size-xs);
  --denhaag-form-group-margin-inline-start: var(--web-app-size-xs);
  --denhaag-form-group-helper-text-margin-block-start: var(--web-app-size-2xs);
  --denhaag-form-control-label-input-margin-inline-end: var(--web-app-size-xs);
  --denhaag-form-control-label-margin-block-end: var(--web-app-size-xs);
  --denhaag-form-progress-progress-bar-background-color: var(--web-app-color-primary-action);
  --denhaag-form-progress-progress-background-color: var(--web-app-color-disabled);
  --denhaag-form-progress-label-font-family: var(--web-app-content-font-family);
  --denhaag-form-progress-label-font-size: var(--web-app-font-size-md);
  --denhaag-form-progress-label-font-weight: var(--web-app-font-weight-normal);
  --denhaag-form-progress-label-color: var(--web-app-color-primary-text);
  --denhaag-form-input-icon-font-size: var(--web-app-font-size-lg);
  --denhaag-form-input-line-height: var(--web-app-line-height-md);
  --denhaag-form-group-helper-text-error-color: var(--web-app-color-invalid);
  --denhaag-form-group-helper-text-color: var(--web-app-color-primary-text);
  --denhaag-form-group-label-color: var(--web-app-color-link-active);

  --utrecht-form-input-font-family: var(--web-app-content-font-family);
  --utrecht-form-label-radio-color: var(--web-app-color-primary-text);
  --utrecht-form-label-checkbox-color: var(--web-app-color-primary-text);
  --utrecht-form-label-font-size: var(--web-app-font-size-md);
  --utrecht-form-label-font-weight: var(--web-app-font-weight-bold);
  --utrecht-form-label-color: var(--web-app-color-primary-text);
  --utrecht-form-input-invalid-border-color: var(--web-app-color-invalid);
  --utrecht-form-input-disabled-color: var(--web-app-color-disabled);
  --utrecht-form-input-disabled-border-color: var(--web-app-color-disabled);
  --utrecht-form-input-placeholder-color: var(--web-app-color-primary-text);
  --utrecht-form-input-font-size: var(--web-app-font-size-md);
  --utrecht-form-input-color: var(--web-app-color-primary-text);
  --utrecht-form-input-border-radius: var(--web-app-border-radius-md);
  --utrecht-form-input-background-color: var(--web-app-color-white);
  --utrecht-form-label-radio-font-weight: var(--web-app-font-weight-normal);
  --utrecht-form-label-checkbox-font-weight: var(--web-app-font-weight-normal);
  --utrecht-form-input-invalid-border-width: var(--web-app-size-4xs);
  --utrecht-form-input-padding-inline-start: var(--web-app-size-md);
  --utrecht-form-input-padding-inline-end: var(--web-app-size-md);
  --utrecht-form-input-padding-block-start: var(--web-app-size-sm);
  --utrecht-form-input-padding-block-end: var(--web-app-size-sm);
  --utrecht-form-input-border-width: var(--web-app-size-4xs);

  --denhaag-divider-border-color: var(--web-app-color-disabled);
  --denhaag-divider-margin-inline-end: var(--web-app-size-md);
  --denhaag-divider-margin-inline-start: var(--web-app-size-md);
  --denhaag-divider-margin-block-end: var(--web-app-size-md);
  --denhaag-divider-margin-block-start: var(--web-app-size-md);
  --denhaag-divider-border-width: var(--web-app-size-4xs);

  --denhaag-table-cell-outline-color: var(--web-app-focus-border-color);
  --denhaag-table-heading-color: var(--web-app-color-heading);
  --denhaag-table-row-hover-background-color: var(--web-app-color-table-row-background-hover);
  --denhaag-table-row-background-color: var(--web-app-color-white);
  --denhaag-table-cell-sm-padding-inline-start: var(--web-app-size-xs);
  --denhaag-table-cell-sm-padding-inline-end: var(--web-app-size-xs);
  --denhaag-table-cell-sm-padding-block-start: var(--web-app-size-2xs);
  --denhaag-table-cell-sm-padding-block-end: var(--web-app-size-2xs);
  --denhaag-table-cell-outline-width: var(--web-app-focus-border-width);
  --denhaag-table-cell-outline-style: var(--web-app-focus-border-style);
  --denhaag-table-cell-gap: var(--web-app-size-2xs);
  --denhaag-table-cell-font-weight: var(--web-app-font-weight-normal);
  --denhaag-table-cell-color: var(--web-app-color-primary-text);
  --denhaag-table-row-padding-block-start: var(--web-app-size-md);
  --denhaag-table-row-padding-block-end: var(--web-app-size-md);
  --denhaag-table-max-width: 100%;
  --denhaag-table-width: 100%;
  --utrecht-table-row-padding-inline-start: var(--web-app-size-xl);
  --utrecht-table-row-padding-inline-end: var(--web-app-size-xl);
  --utrecht-table-cell-padding-inline-start: var(--web-app-size-md);
  --utrecht-table-cell-padding-inline-end: var(--web-app-size-md);
  --utrecht-table-cell-padding-block-start: var(--web-app-size-md);
  --utrecht-table-cell-padding-block-end: var(--web-app-size-md);
  --utrecht-table-cell-line-height: var(--web-app-line-height-lg);
  --utrecht-table-heading-color: var(--web-app-color-primary-action);
  --utrecht-table-caption-margin-block-end: var(--web-app-size-xl);
  --utrecht-table-caption-line-height: var(--web-app-line-height-md);
  --utrecht-table-caption-color: var(--web-app-color-black);
  --utrecht-table-caption-font-size: var(--web-app-font-size-xl);
  --utrecht-table-caption-font-family: var(--web-app-font-size-2xl);
  --utrecht-table-border-color: var(--web-app-color-disabled);
  --utrecht-table-row-alternate-even-background-color: var(--web-app-color-white);
  --utrecht-table-row-border-block-end-width: var(--web-app-size-4xs);
  --utrecht-table-heading-font-weight: var(--web-app-font-weight-bold);
  --utrecht-table-heading-font-size: var(--web-app-size-xs);
  --utrecht-table-header-border-block-end-width: var(--web-app-size-4xs);
  --utrecht-table-caption-text-align: start;
  --utrecht-table-caption-font-weight: var(--web-app-font-weight-bold);
  --utrecht-table-border-width: var(--web-app-size-4xs);

  --denhaag-pagination-link-current-disabled-color: var(--web-app-color-white);
  --denhaag-pagination-link-current-disabled-background-color: var(--web-app-color-disabled);
  --denhaag-pagination-link-current-font-weight: var(--web-app-font-weight-bold);
  --denhaag-pagination-link-current-color: var(--web-app-color-primary-action);
  --denhaag-pagination-link-disabled-color: var(--web-app-color-disabled);
  --denhaag-pagination-link-hover-color: var(--web-app-color-primary-action);
  --denhaag-pagination-link-color: var(--web-app-color-primary-text);
  --denhaag-pagination-arrow-size: var(--web-app-size-lg);
  --denhaag-pagination-arrow-font-size: var(--web-app-font-size-md);
  --denhaag-pagination-size: var(--web-app-size-xl);
  --denhaag-pagination-font-weight: var(--web-app-font-weight-normal);
  --denhaag-pagination-font-size: var(--web-app-font-size-lg);
  --denhaag-pagination-border-radius: var(--web-app-border-radius-md);

  --denhaag-sidenav-link-active-color: var(--web-app-sidenav-link-active-color);
  --denhaag-sidenav-link-hover-color: var(--web-app-sidenav-link-hover-color);
  --denhaag-sidenav-link-padding-block-end: var(--web-app-sidenav-link-padding-block-end);
  --denhaag-sidenav-link-padding-block-start: var(--web-app-sidenav-link-padding-block-start);
  --denhaag-sidenav-item-font-family: var(--web-app-sidenav-item-font-family);
  --denhaag-sidenav-item-font-weight: var(--web-app-sidenav-item-font-weight);
  --denhaag-sidenav-item-font-size: var(--web-app-sidenav-item-font-size);

  --utrecht-custom-checkbox-checked-background-color: var(--web-app-color-primary-action);
  --utrecht-custom-checkbox-checked-border-color: var(--web-app-color-primary-action);

  --denhaag-checkbox-hover-checked-background-color: var(--web-app-color-primary-action-hover);

  --denhaag-checkbox-hover-checked-border-color: var(--web-app-color-primary-action-hover);

  --denhaag-alert-padding-block-start: var(--web-app-size-lg);
  --denhaag-alert-padding-block-end: var(--web-app-size-lg);
  --denhaag-alert-padding-inline-start: var(--web-app-size-lg);
  --denhaag-alert-padding-inline-end: var(--web-app-size-lg);
  --denhaag-alert-border-radius: 3px;
  --denhaag-alert-info-background-color: var(--web-app-alert-info-background-color);
  --denhaag-alert-info-action-button-background-color: var(--web-app-alert-info-action-button-background-color);
  --denhaag-alert-info-action-button-hover-background-color: var(--web-app-alert-info-action-button-background-color-hover);
  --denhaag-alert-info-action-button-color: white;
  --denhaag-alert-info-icon-color: var(--web-app-alert-info-icon-color);
  --denhaag-alert-content-margin-inline-start: var(--web-app-size-lg);
  --denhaag-alert-content-margin-inline-end: var(--web-app-size-lg);
  --utrecht-heading-4-distanced-margin-block-end: var(--web-app-size-2xs);
  --denhaag-alert-action-padding-block-start: var(--web-app-size-md);
  --denhaag-breadcrumb-color: var(--web-app-breadcrumb-color);
}

.utrecht-button-link--secondary-action {
  --utrecht-button-secondary-action-background-color: var(--web-app-button-secondary-action-background-color);
  --utrecht-button-secondary-action-color: var(--web-app-button-secondary-action-color);
}

.denhaag-button:hover {
  cursor: pointer;
}

.denhaag-icon {
  /* Den Haag has `font-size: 1.5rem` as hardcoded value, we can't work with that */
  font-size: inherit !important;
  /* Use the width and height from the parent `.utrecht-icon` class name */
  width: var(--utrecht-icon-size, auto) !important;
  height: var(--utrecht-icon-size, auto) !important;
}

.utrecht-icon svg {
  /* Override the width of SVGs when they are hardcoded.
   * For example:
   * <svg width="128px" height="128px">
   */
  height: 100%;
  width: 100%;
}

/*
 * For icons that are placed at start, before a text label.
 * Example: previous arrow
 */
.utrecht-icon--conduction-start {
  margin-inline-end: var(--web-app-link-icon-gap);
}

.utrecht-icon--conduction-end {
  margin-inline-start: var(--web-app-link-icon-gap);
}

.utrecht-badge-counter {
  block-size: max-content;
  inline-size: max-content;
}

.utrecht-table__row--focus,
.utrecht-table__row:has(a[rel~="activate-row"]:not(:disabled):not([aria-disabled="true"]):focus) {
  background-color: var(--utrecht-table-row-focus-background-color);
  color: var(--utrecht-table-row-focus-color);
}

.utrecht-table__row--hover,
.utrecht-table__row:has(a[rel~="activate-row"]:not(:disabled):not([aria-disabled="true"])):hover {
  background-color: var(--utrecht-table-row-hover-background-color);
  color: var(--utrecht-table-row-hover-color);
}

.utrecht-badge-data {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  gap: 4px !important;
  width: fit-content;
}

.utrecht-button-link {
  --utrecht-button-padding-inline-start: var(--web-app-size-sm) !important;
  --utrecht-button-padding-inline-end: var(--web-app-size-sm) !important;
}

.utrecht-alert__message .utrecht-paragraph {
  --utrecht-paragraph-margin-block-start: 0px;
}
