:root {
  --conduction-color-secondary: #0b71a1;
  --conduction-color-secondary-hover: rgba(255, 255, 255, 0.2);
  --conduction-color-primary: #084f70;
  --conduction-color-primary-hover: rgba(0, 0, 0, 0.2);

  --conduction-unauthenticated-header-logo-width: 200px;
  --conduction-footer-secondary-background-color: #edbf07;
  --conduction-footer-height: 115px;
  --conduction-authenticated-logo-background: url(../../assets/svgs/MijnDenHaag.svg);
  --conduction-unauthenticated-logo-background: url(../../assets/svgs/DenHaag.svg);

  --conduction-image-and-details-card-title-font-weight: bold;
  --conduction-image-and-details-card-image-height: 250px;
  --conduction-image-and-details-card-introduction-lines-clamp: 3;

  --conduction-info-card-width: 300px;

  --conduction-horizontal-image-card-icon-size: 80px;
  --conduction-horizontal-image-card-font-size: 24px;

  --conduction-rich-card-label-with-icon-icon-size: 16px;
  --conduction-rich-card-label-with-icon-label-size: 14px;

  --conduction-tag-font-size: 12px;

  --conduction-content-link-font-size: 14px;

  --conduction-top-nav-secondary-font-size: 16px;

  --conduction-footer-logo-height-size: 82px;

  --conduction-component-detail-sub-title-font-size: 24px;
  --conduction-color-yellow: yellow;
  --conduction-color-red: red;
  --conduction-color-blue: blue;
  --conduction-color-green: green;
  --conduction-color-purple: purple;
  --conduction-color-gepland: #005282;
  --conduction-color-gewenst: #38aeda;
}
