:root {
  --conduction-color-secondary: #0b71a1;
  --conduction-color-secondary-hover: rgba(255, 255, 255, 0.2);
  --conduction-color-primary: #084f70;
  --conduction-color-primary-hover: rgba(0, 0, 0, 0.2);

  --conduction-unauthenticated-header-logo-width: 200px;
  --conduction-footer-secondary-background-color: #edbf07;
  --conduction-footer-height: 115px;
  --conduction-authenticated-logo-background: url(../../assets/svgs/MijnDenHaag.svg);
  --conduction-unauthenticated-logo-background: url(../../assets/svgs/DenHaag.svg);

  --conduction-image-and-details-card-title-font-weight: bold;
  --conduction-image-and-details-card-image-height: 250px;
  --conduction-image-and-details-card-introduction-lines-clamp: 3;

  --conduction-horizontal-image-card-icon-size: 80px;
  --conduction-horizontal-image-card-font-size: 24px;

  --conduction-rich-card-label-with-icon-icon-size: 16px;
  --conduction-rich-card-label-with-icon-label-size: 14px;

  --conduction-tag-font-size: 12px;

  --conduction-content-link-font-size: 14px;

  --conduction-top-nav-secondary-font-size: 16px;

  --conduction-footer-logo-height-size: 82px;

  --conduction-component-detail-sub-title-font-size: 24px;

  --conduction-space-inline-5xl: 4rem; /* Extra Large 5 */
  --conduction-space-inline-4xl: 3rem; /* Extra Large 4 */
  --conduction-space-inline-3xl: 2.5rem; /* Extra Large 3 */
  --conduction-space-inline-2xl: 2rem; /* Extra Large 2 */
  --conduction-space-inline-xl: 1.5rem; /* Extra Large */
  --conduction-space-inline-lg: 1.25rem; /* Large */
  --conduction-space-inline-md: 1rem; /* Medium */
  --conduction-space-inline-sm: 0.8rem; /* Small */
  --conduction-space-inline-xs: 0.5rem; /* Extra Small */
  --conduction-space-inline-2xs: 0.25rem; /* Extra Small 2 */
  --conduction-space-inline-3xs: 0.125rem; /* Extra Small 3 */
  --conduction-space-block-5xl: 4rem; /* Extra Large 5 */
  --conduction-space-block-4xl: 3rem; /* Extra Large 4 */
  --conduction-space-block-3xl: 2.5rem; /* Extra Large 3 */
  --conduction-space-block-2xl: 2rem; /* Extra Large 2 */
  --conduction-space-block-xl: 1.5rem; /* Extra Large */
  --conduction-space-block-lg: 1.25rem; /* Large */
  --conduction-space-block-md: 1rem; /* Medium */
  --conduction-space-block-sm: 0.8rem; /* Small */
  --conduction-space-block-xs: 0.5rem; /* Extra Small */
  --conduction-space-block-2xs: 0.25rem; /* Extra Small 2 */
  --conduction-space-block-3xs: 0.125rem; /* Extra Small 3 */

  --conduction-max-page-width: 1024px;
}
