:root {
  --conduction-unauthenticated-header-logo-width: 200px;
  --conduction-footer-secondary-background-color: #edbf07;
  --conduction-footer-height: 115px;
  --conduction-authenticated-logo-background: url(../../assets/svgs/MijnDenHaag.svg);
  --conduction-unauthenticated-logo-background: url(../../assets/svgs/DenHaag.svg);

  --conduction-image-and-details-card-title-font-weight: bold;
  --conduction-image-and-details-card-image-height: 250px;
  --conduction-image-and-details-card-introduction-lines-clamp: 3;

  --conduction-horizontal-image-card-icon-size: 80px;
  --conduction-horizontal-image-card-font-size: 24px;

  --conduction-rich-card-label-with-icon-icon-size: 16px;
  --conduction-rich-card-label-with-icon-label-size: 14px;

  --conduction-tag-font-size: 12px;

  --conduction-content-link-font-size: 14px;

  --conduction-topnav-padding: 10px;
}
