:root {
  --denhaag-breadcrumb-link-hover-color: var(--denhaag-color-blue-4);
  --denhaag-breadcrumb-link-focus-color: var(--denhaag-color-blue-4);
  --denhaag-breadcrumb-link-color: var(--denhaag-color-blue-3);
  --denhaag-breadcrumb-dots-hover-background-color: var(--denhaag-color-grey-2);
  --denhaag-breadcrumb-dots-color: var(--denhaag-color-grey-3);
  --denhaag-breadcrumb-dots-border-radius: var(--denhaag-border-radius);
  --denhaag-breadcrumb-dots-background-color: var(--denhaag-color-grey-1);
  --denhaag-breadcrumb-current-color: var(--denhaag-color-grey-4);
  --denhaag-breadcrumb-spacing: var(--denhaag-space-inline-xs);
  --denhaag-breadcrumb-color: var(--denhaag-color-grey-4);
  --denhaag-breadcrumb-background-color: var(--denhaag-color-warmgrey-1);
  --denhaag-breadcrumb-link-focus-outline: var(--denhaag-focus-border);
  --utrecht-breadcrumb-item-padding-inline-start: 14px;
  --utrecht-breadcrumb-item-padding-inline-end: 14px;
  --utrecht-breadcrumb-divider-inline-size: 24px;
  --utrecht-breadcrumb-divider-content: ›;
  --denhaag-breadcrumb-list-max-width: 67.5rem;
  --denhaag-breadcrumb-link-icon-margin-inline: 0.75rem;
  --denhaag-breadcrumb-link-icon-width: 0.875rem;
  --denhaag-breadcrumb-link-icon-height: 0.875rem;
  --denhaag-breadcrumb-padding-inline: 0.75rem;
  --denhaag-breadcrumb-padding-block-md: 0.75rem;
  --denhaag-breadcrumb-padding-block: 1rem;
  --utrecht-breadcrumb-link-focus-color: var(--denhaag-color-blue-3);
  --utrecht-breadcrumb-link-color: var(--denhaag-color-blue-4);
  --utrecht-breadcrumb-font-size: var(
    --denhaag-typography-scale-base-font-size
  );
}
