/* Conduction tokens */
:root {
  --conduction-primary-top-nav-background-color: var(--skeleton-color-blue-3);
  --conduction-primary-top-nav-background-color-hover: var(--skeleton-color-blue-5);
  --conduction-secondary-top-nav-font-size: var(--skeleton-font-size-sm);
}

/* Den Haag & Utrecht tokens */
:root {
  --denhaag-focus-border: var(--skeleton-focus-border);
  --denhaag-heading-line-height: var(--skeleton-line-height-md);
  --denhaag-heading-color: var(--skeleton-color-grey-5);
  --utrecht-heading-font-weight: var(--skeleton-font-weight-bold);
  --utrecht-heading-font-family: var(--skeleton-primary-font-family);
  --utrecht-heading-color: var(--skeleton-color-grey-4);
  --utrecht-heading-5-font-size: var(--skeleton-font-size-md);
  --utrecht-heading-4-font-size: var(--skeleton-font-size-lg);
  --utrecht-heading-3-font-size: var(--skeleton-font-size-xl);
  --utrecht-heading-2-font-size: var(--skeleton-font-size-2xl);
  --utrecht-heading-1-font-size: var(--skeleton-font-size-3xl);

  --utrecht-paragraph-lead-line-height: var(--skeleton-line-height-md);
  --utrecht-paragraph-margin-block-end: 0;
  --utrecht-paragraph-margin-block-start: 0;
  --utrecht-paragraph-lead-font-size: var(--skeleton-font-size-lg);
  --utrecht-paragraph-line-height: var(--skeleton-line-height-md);
  --utrecht-paragraph-font-weight: var(--skeleton-font-weight-normal);
  --utrecht-paragraph-font-size: var(--skeleton-font-size-md);
  --utrecht-paragraph-font-family: var(--skeleton-content-font-family);
  --utrecht-paragraph-color: var(--skeleton-color-grey-4);

  --denhaag-button-large-size-padding-inline: var(--skeleton-size-lg);
  --denhaag-button-secondary-action-disabled-color: var(--skeleton-color-grey-2);
  --denhaag-button-secondary-action-disabled-border-color: var(--skeleton-color-grey-2);
  --denhaag-button-secondary-action-disabled-background-color: var(--skeleton-color-white);
  --denhaag-button-secondary-action-hover-color: var(--skeleton-color-green-4);
  --denhaag-button-secondary-action-hover-border-color: var(--skeleton-color-green-4);
  --denhaag-button-secondary-action-hover-background-color: var(--skeleton-color-white);
  --denhaag-button-secondary-action-border-color: var(--skeleton-color-green-3);
  --denhaag-button-secondary-action-color: var(--skeleton-color-green-3);
  --denhaag-button-secondary-action-background-color: var(--skeleton-color-white);
  --denhaag-button-primary-action-disabled-color: var(--skeleton-color-white);
  --denhaag-button-primary-action-disabled-background-color: var(--skeleton-color-grey-2);
  --denhaag-button-primary-action-hover-color: var(--skeleton-color-white);
  --denhaag-button-primary-action-hover-background-color: var(--skeleton-color-green-4);
  --denhaag-button-primary-action-color: var(--skeleton-color-white);
  --denhaag-button-primary-action-background-color: var(--skeleton-color-green-3);
  --denhaag-button-focus-border-style: var(--skeleton-focus-border-style);
  --denhaag-button-focus-border-width: var(--skeleton-focus-border-width);
  --denhaag-button-padding-inline: var(--skeleton-size-md);
  --denhaag-button-padding-block: var(--skeleton-size-xs);
  --denhaag-button-font-family: var(--skeleton-content-font-family);
  --denhaag-button-border-radius: var(--skeleton-border-radius-md);
  --denhaag-button-large-size-padding-block: var(--skeleton-size-xs);
  --denhaag-button-border-width: var(--skeleton-size-4xs);
  --denhaag-button-large-size-padding-inline: var(--skeleton-size-lg);
  --denhaag-button-secondary-action-disabled-color: var(--skeleton-color-grey-2);
  --denhaag-button-secondary-action-disabled-border-color: var(--skeleton-color-grey-2);
  --denhaag-button-secondary-action-disabled-background-color: var(--skeleton-color-white);
  --denhaag-button-secondary-action-hover-color: var(--skeleton-color-green-4);
  --denhaag-button-secondary-action-hover-border-color: var(--skeleton-color-green-4);
  --denhaag-button-secondary-action-hover-background-color: var(--skeleton-color-white);
  --denhaag-button-secondary-action-border-color: var(--skeleton-color-green-3);
  --denhaag-button-secondary-action-color: var(--skeleton-color-green-3);
  --denhaag-button-secondary-action-background-color: var(--skeleton-color-white);
  --denhaag-button-primary-action-disabled-color: var(--skeleton-color-white);
  --denhaag-button-primary-action-disabled-background-color: var(--skeleton-color-grey-2);
  --denhaag-button-primary-action-hover-color: var(--skeleton-color-white);
  --denhaag-button-primary-action-hover-background-color: var(--skeleton-color-green-4);
  --denhaag-button-primary-action-color: var(--skeleton-color-white);
  --denhaag-button-primary-action-background-color: var(--skeleton-color-green-3);
  --denhaag-button-focus-border-style: var(--skeleton-focus-border-style);
  --denhaag-button-focus-border-width: var(--skeleton-focus-border-width);
  --denhaag-button-padding-inline: var(--skeleton-size-md);
  --denhaag-button-padding-block: var(--skeleton-size-xs);
  --denhaag-button-font-family: var(--skeleton-content-font-family);
  --denhaag-button-border-radius: var(--skeleton-border-radius-md);
  --denhaag-button-medium-size-padding-inline: var(--denhaag-button-padding-inline);
  --denhaag-button-medium-size-padding-block: var(--denhaag-button-padding-block);
  --denhaag-button-focus-border-color: var(--skeleton-focus-border-color);
  --utrecht-button-disabled-color: var(--skeleton-color-white);
  --utrecht-button-disabled-background-color: var(--skeleton-color-grey-2);
  --utrecht-button-focus-border-width: var(--skeleton-focus-border-width);
  --utrecht-button-secondary-action-disabled-color: var(--skeleton-color-grey-2);
  --utrecht-button-secondary-action-disabled-border-color: var(--skeleton-color-grey-2);
  --utrecht-button-secondary-action-disabled-background-color: var(--skeleton-color-white);
  --utrecht-button-secondary-action-hover-border-color: var(--skeleton-color-green-4);
  --utrecht-button-secondary-action-hover-color: var(--skeleton-color-green-4);
  --utrecht-button-secondary-action-hover-background-color: var(--skeleton-color-white);
  --utrecht-button-secondary-action-border-color: var(--skeleton-color-green-3);
  --utrecht-button-secondary-action-color: var(--skeleton-color-green-3);
  --utrecht-button-secondary-action-background-color: var(--skeleton-color-white);
  --utrecht-button-primary-action-hover-color: var(--skeleton-color-white);
  --utrecht-button-primary-action-hover-background-color: var(--skeleton-color-green-4);
  --utrecht-button-primary-action-color: var(--skeleton-color-white);
  --utrecht-button-primary-action-background-color: var(--skeleton-color-green-3);
  --utrecht-button-font-family: var(--skeleton-content-font-family);
  --utrecht-button-color: var(--skeleton-color-white);
  --utrecht-button-border-radius: var(--skeleton-border-radius-md);
  --utrecht-button-background-color: var(--skeleton-color-green-3);
  --utrecht-button-secondary-action-border-width: var(--skeleton-border-radius-md);
  --utrecht-button-margin-block-end: 0;
  --utrecht-button-margin-block-start: 0;
  --utrecht-button-margin-inline-end: 0;
  --utrecht-button-margin-inline-start: 0;
  --utrecht-button-padding-block-end: var(--skeleton-size-sm);
  --utrecht-button-padding-block-start: var(--skeleton-size-sm);
  --utrecht-button-padding-inline-end: var(--skeleton-size-md);
  --utrecht-button-padding-inline-start: var(--skeleton-size-md);
  --utrecht-button-border-width: 0;

  --denhaag-link-focus-outline: var(--skeleton-focus-border);
  --denhaag-link-disabled-color: var(--skeleton-color-grey-2);
  --denhaag-link-hover-color: var(--skeleton-color-blue-4);
  --denhaag-link-focus-color: var(--skeleton-color-blue-4);
  --denhaag-link-color: var(--skeleton-color-blue-3);
  --denhaag-link-icon-size: var(--skeleton-size-md);
  --denhaag-link-icon-margin-end: var(--skeleton-size-xs);
  --denhaag-link-icon-margin-start: var(--skeleton-size-xs);
  --denhaag-link-padding: var(--skeleton-size-xs);
  --utrecht-link-hover-color: var(--skeleton-color-blue-4);
  --utrecht-link-focus-color: var(--skeleton-color-blue-4);
  --utrecht-link-color: var(--skeleton-color-blue-3);
  --utrecht-link-text-decoration: underline;

  --denhaag-tabs-tab-indicator-border-color: var(--skeleton-color-blue-3);
  --denhaag-tabs-tab-padding-inline-end: var(--skeleton-size-xs);
  --denhaag-tabs-tab-padding-inline-start: var(--skeleton-size-xs);
  --denhaag-tabs-tab-padding-block-end: var(--skeleton-size-xs);
  --denhaag-tabs-tab-padding-block-start: var(--skeleton-size-xs);
  --denhaag-tabs-tab-font-family: var(--skeleton-content-font-family);
  --denhaag-tabs-tab-font-size: var(--skeleton-font-size-md);
  --denhaag-tabs-tab-color: var(--skeleton-color-grey-4);
  --denhaag-tabs-tab-background-color: var(--skeleton-color-white);
  --denhaag-tabs-border-color: var(--skeleton-color-grey-2);
  --denhaag-tabs-tab-panel-padding-inline-end: 0;
  --denhaag-tabs-tab-panel-padding-inline-start: 0;
  --denhaag-tabs-tab-panel-padding-block-end: 0;
  --denhaag-tabs-tab-panel-padding-block-start: 0;
  --denhaag-tabs-tab-indicator-border-width: var(--skeleton-size-3xs);
  --denhaag-tabs-tab-selected-font-weight: var(--skeleton-font-weight-bold);
  --denhaag-tabs-tab-font-weight: var(--skeleton-font-weight-normal);
  --denhaag-tabs-border-style: solid;
  --denhaag-tabs-border-width: var(--skeleton-size-3xs);

  --denhaag-form-field-description-error-color: var(--skeleton-color-red-3);
  --denhaag-form-field-description-line-height: var(--skeleton-line-height-md);
  --denhaag-form-field-description-font-weight: var(--skeleton-font-weight-normal);
  --denhaag-form-field-description-color: var(--skeleton-color-grey-4);
  --denhaag-form-field-label-margin-block-end: var(--skeleton-size-2xs);
  --denhaag-form-field-description-font-family: var(--skeleton-content-font-family);
  --denhaag-form-progress-progress-height: var(--skeleton-size-3xs);
  --denhaag-form-progress-header-margin-block-end: var(--skeleton-size-md);
  --denhaag-form-input-margin-block-end: 0;
  --denhaag-form-input-margin-block-start: 0;
  --denhaag-form-group-margin-block-end: var(--skeleton-size-xs);
  --denhaag-form-group-margin-block-start: var(--skeleton-size-xs);
  --denhaag-form-group-margin-inline-end: var(--skeleton-size-xs);
  --denhaag-form-group-margin-inline-start: var(--skeleton-size-xs);
  --denhaag-form-group-helper-text-margin-block-start: var(--skeleton-size-2xs);
  --denhaag-form-control-label-input-margin-inline-end: var(--skeleton-size-xs);
  --denhaag-form-control-label-margin-block-end: var(--skeleton-size-xs);
  --denhaag-form-progress-progress-bar-background-color: var(--skeleton-color-green-3);
  --denhaag-form-progress-progress-background-color: var(--skeleton-color-grey-2);
  --denhaag-form-progress-label-font-family: var(--skeleton-content-font-family);
  --denhaag-form-progress-label-font-size: var(--skeleton-font-size-md);
  --denhaag-form-progress-label-font-weight: var(--skeleton-font-weight-normal);
  --denhaag-form-progress-label-color: var(--skeleton-color-grey-4);
  --denhaag-form-input-icon-font-size: var(--skeleton-font-size-lg);
  --denhaag-form-input-line-height: var(--skeleton-line-height-md);
  --denhaag-form-group-helper-text-error-color: var(--skeleton-color-red-3);
  --denhaag-form-group-helper-text-color: var(--skeleton-color-grey-4);
  --denhaag-form-group-label-color: var(--skeleton-color-blue-5);

  --utrecht-form-input-font-family: var(--skeleton-content-font-family);
  --utrecht-form-label-radio-color: var(--skeleton-color-grey-4);
  --utrecht-form-label-checkbox-color: var(--skeleton-color-grey-4);
  --utrecht-form-label-font-size: var(--skeleton-font-size-md);
  --utrecht-form-label-font-weight: var(--skeleton-font-weight-bold);
  --utrecht-form-label-color: var(--skeleton-color-grey-4);
  --utrecht-form-input-invalid-border-color: var(--skeleton-color-red-3);
  --utrecht-form-input-disabled-color: var(--skeleton-color-grey-2);
  --utrecht-form-input-disabled-border-color: var(--skeleton-color-grey-2);
  --utrecht-form-input-placeholder-color: var(--skeleton-color-grey-4);
  --utrecht-form-input-font-size: var(--skeleton-font-size-md);
  --utrecht-form-input-color: var(--skeleton-color-grey-4);
  --utrecht-form-input-border-radius: var(--skeleton-border-radius-md);
  --utrecht-form-input-border-color: var(--skeleton-color-grey-3);
  --utrecht-form-input-background-color: var(--skeleton-color-white);
  --utrecht-form-label-radio-font-weight: var(--skeleton-font-weight-normal);
  --utrecht-form-label-checkbox-font-weight: var(--skeleton-font-weight-normal);
  --utrecht-form-input-invalid-border-width: var(--skeleton-size-4xs);
  --utrecht-form-input-padding-inline-start: var(--skeleton-size-md);
  --utrecht-form-input-padding-inline-end: var(--skeleton-size-md);
  --utrecht-form-input-padding-block-start: var(--skeleton-size-sm);
  --utrecht-form-input-padding-block-end: var(--skeleton-size-sm);
  --utrecht-form-input-border-width: var(--skeleton-size-4xs);

  --denhaag-divider-border-color: var(--skeleton-color-grey-2);
  --denhaag-divider-margin-inline-end: var(--skeleton-size-md);
  --denhaag-divider-margin-inline-start: var(--skeleton-size-md);
  --denhaag-divider-margin-block-end: var(--skeleton-size-md);
  --denhaag-divider-margin-block-start: var(--skeleton-size-md);
  --denhaag-divider-border-width: var(--skeleton-size-4xs);

  --denhaag-table-cell-outline-color: var(--skeleton-focus-border-color);
  --denhaag-table-heading-color: var(--skeleton-color-grey-5);
  --denhaag-table-row-hover-background-color: var(--skeleton-color-warmgrey-1);
  --denhaag-table-row-background-color: var(--skeleton-color-white);
  --denhaag-table-cell-sm-padding-inline-start: var(--skeleton-size-xs);
  --denhaag-table-cell-sm-padding-inline-end: var(--skeleton-size-xs);
  --denhaag-table-cell-sm-padding-block-start: var(--skeleton-size-2xs);
  --denhaag-table-cell-sm-padding-block-end: var(--skeleton-size-2xs);
  --denhaag-table-cell-outline-width: var(--skeleton-focus-border-width);
  --denhaag-table-cell-outline-style: var(--skeleton-focus-border-style);
  --denhaag-table-cell-gap: var(--skeleton-size-2xs);
  --denhaag-table-cell-font-weight: var(--skeleton-font-weight-normal);
  --denhaag-table-cell-color: var(--skeleton-color-grey-4);
  --denhaag-table-row-padding-block-start: var(--skeleton-size-md);
  --denhaag-table-row-padding-block-end: var(--skeleton-size-md);
  --denhaag-table-max-width: 100%;
  --denhaag-table-width: 100%;
  --utrecht-table-row-padding-inline-start: var(--skeleton-size-xl);
  --utrecht-table-row-padding-inline-end: var(--skeleton-size-xl);
  --utrecht-table-row-border-block-end-color: var(--skeleton-color-grey-1);
  --utrecht-table-cell-padding-inline-start: var(--skeleton-size-md);
  --utrecht-table-cell-padding-inline-end: var(--skeleton-size-md);
  --utrecht-table-cell-padding-block-start: var(--skeleton-size-md);
  --utrecht-table-cell-padding-block-end: var(--skeleton-size-md);
  --utrecht-table-cell-line-height: var(--skeleton-line-height-lg);
  --utrecht-table-heading-color: var(--skeleton-color-green-3);
  --utrecht-table-header-border-block-end-color: var(--skeleton-color-grey-1);
  --utrecht-table-caption-margin-block-end: var(--skeleton-size-xl);
  --utrecht-table-caption-line-height: var(--skeleton-line-height-md);
  --utrecht-table-caption-color: var(--skeleton-color-black);
  --utrecht-table-caption-font-size: var(--skeleton-font-size-xl);
  --utrecht-table-caption-font-family: var(--skeleton-font-size-2xl);
  --utrecht-table-border-color: var(--skeleton-color-grey-2);
  --utrecht-table-row-alternate-even-background-color: var(--skeleton-color-white);
  --utrecht-table-row-alternate-odd-background-color: var(--skeleton-color-grey-1);
  --utrecht-table-row-border-block-end-width: var(--skeleton-size-4xs);
  --utrecht-table-heading-font-weight: var(--skeleton-font-weight-bold);
  --utrecht-table-heading-font-size: var(--skeleton-size-xs);
  --utrecht-table-header-border-block-end-width: var(--skeleton-size-4xs);
  --utrecht-table-caption-text-align: start;
  --utrecht-table-caption-font-weight: var(--skeleton-font-weight-bold);
  --utrecht-table-border-width: var(--skeleton-size-4xs);

  --denhaag-pagination-link-current-disabled-color: var(--skeleton-color-white);
  --denhaag-pagination-link-current-disabled-background-color: var(--skeleton-color-grey-2);
  --denhaag-pagination-link-current-font-weight: var(--skeleton-font-weight-bold);
  --denhaag-pagination-link-current-color: var(--skeleton-color-green-3);
  --denhaag-pagination-link-disabled-color: var(--skeleton-color-grey-2);
  --denhaag-pagination-link-hover-color: var(--skeleton-color-green-3);
  --denhaag-pagination-link-color: var(--skeleton-color-grey-4);
  --denhaag-pagination-arrow-size: var(--skeleton-size-lg);
  --denhaag-pagination-arrow-font-size: var(--skeleton-font-size-md);
  --denhaag-pagination-size: var(--skeleton-size-xl);
  --denhaag-pagination-font-weight: var(--skeleton-font-weight-normal);
  --denhaag-pagination-font-size: var(--skeleton-font-size-lg);
  --denhaag-pagination-border-radius: var(--skeleton-border-radius-md);
}
