:root {
  --conduction-tag-font-size: var(--skeleton-size-sm);

  --conduction-rich-card-label-with-icon-icon-size: var(--skeleton-size-sm);
  --conduction-rich-card-label-with-icon-label-size: var(--skeleton-size-sm);

  --conduction-image-and-details-card-title-font-weight: bold;
  --conduction-image-and-details-card-image-height: 250px;
  --conduction-image-and-details-card-introduction-lines-clamp: 3;

  --conduction-top-nav-font-size-secondary: var(--skeleton-font-size-md) !important;
  --conduction-top-nav-color-secondary: var(--skeleton-color-white) !important;
  --conduction-top-nav-background-color-secondary: var(--skeleton-color-secondary-5) !important;
  --conduction-top-nav-background-color-secondary-hover: var(--skeleton-color-secondary-3) !important;

  --conduction-top-nav-color-primary: var(--skeleton-color-white) !important;
  --conduction-top-nav-background-color-primary: var(--skeleton-color-secondary-3) !important;
  --conduction-top-nav-background-color-primary-hover: var(--skeleton-color-secondary-5) !important;
}
