:root {
  --utrecht-document-font-family: var(--denhaag-typography-sans-serif-font-family);

  --denhaag-typography-scale-3xl-font-size: 3rem;
  --denhaag-typography-scale-2xl-font-size: 2rem;
  --denhaag-typography-scale-xl-font-size: 1.5rem;
  --denhaag-typography-scale-lg-font-size: 1.25rem;
  --denhaag-typography-scale-base-line-height: 1.5;
  --denhaag-typography-scale-base-font-size: 1.125rem;
  --denhaag-typography-scale-s-line-height: 1.3;
  --denhaag-typography-scale-s-font-size: 0.875rem;
  --denhaag-typography-scale-xs-font-size: 0.625rem;
  --denhaag-typography-sans-serif-alternate-font-family: "TheMix", sans-serif;
  --denhaag-typography-sans-serif-font-family: "TheSans", sans-serif;
  --denhaag-typography-weight-bold: 700;
  --denhaag-typography-weight-regular: 400;
  --denhaag-color-white: hsl(0 0% 100%);
  --denhaag-color-black: hsl(0 0% 0%);
  --denhaag-color-warmgrey-1: hsl(40 18% 97%);
  --denhaag-color-grey-5: hsla(0, 0%, 18%, 1);
  --denhaag-color-grey-4: hsl(0 0% 29%);
  --denhaag-color-grey-3: hsl(0 0% 48%);
  --denhaag-color-grey-2: hsl(0 0% 82%);
  --denhaag-color-grey-1: hsl(0 0% 95%);
  --denhaag-color-orange-5: hsl(23 100% 27%);
  --denhaag-color-orange-4: hsl(23 99% 44%);
  --denhaag-color-orange-3: hsl(34 100% 47%);
  --denhaag-color-orange-2: hsl(34 100% 68%);
  --denhaag-color-orange-1: hsl(34 100% 84%);
  --denhaag-color-red-5: hsl(1 100% 16%);
  --denhaag-color-red-4: hsl(2 100% 32%);
  --denhaag-color-red-3: hsl(6 93% 42%);
  --denhaag-color-red-2: hsl(5 75% 72%);
  --denhaag-color-red-1: hsl(4 100% 92%);
  --denhaag-color-ocher-5: hsl(47 100% 25%);
  --denhaag-color-ocher-4: hsl(47 100% 40%);
  --denhaag-color-ocher-3: hsl(50 94% 57%);
  --denhaag-color-ocher-2: hsl(50 100% 76%);
  --denhaag-color-ocher-1: hsl(50 100% 91%);
  --denhaag-color-blue-5: hsl(207 93% 16%);
  --denhaag-color-blue-4: hsl(207 87% 27%);
  --denhaag-color-blue-3: hsl(207 80% 35%);
  --denhaag-color-blue-2: hsl(210 64% 80%);
  --denhaag-color-blue-1: hsl(208 76% 92%);
  --denhaag-color-green-5: hsl(139 100% 9%);
  --denhaag-color-green-4: hsl(138 57% 27%);
  --denhaag-color-green-3: hsl(138 58% 33%);
  --denhaag-color-green-2: hsl(118 28% 60%);
  --denhaag-color-green-1: hsl(117 28% 87%);
  --denhaag-space-inline-5xl: 4rem;
  --denhaag-space-inline-4xl: 3rem;
  --denhaag-space-inline-3xl: 2.5rem;
  --denhaag-space-inline-2xl: 2rem;
  --denhaag-space-inline-xl: 1.5rem;
  --denhaag-space-inline-lg: 1.25rem;
  --denhaag-space-inline-md: 1rem;
  --denhaag-space-inline-sm: 0.8rem;
  --denhaag-space-inline-xs: 0.5rem;
  --denhaag-space-inline-2xs: 0.25rem;
  --denhaag-space-inline-3xs: 0.125rem;
  --denhaag-space-block-5xl: 4rem;
  --denhaag-space-block-4xl: 3rem;
  --denhaag-space-block-3xl: 2.5rem;
  --denhaag-space-block-2xl: 2rem;
  --denhaag-space-block-xl: 1.5rem;
  --denhaag-space-block-lg: 1.25rem;
  --denhaag-space-block-md: 1rem;
  --denhaag-space-block-sm: 0.8rem;
  --denhaag-space-block-xs: 0.5rem;
  --denhaag-space-block-2xs: 0.25rem;
  --denhaag-space-block-3xs: 0.125rem;
  --denhaag-focus-border-style: dashed;
  --denhaag-focus-border-width: 2px;
  --denhaag-border-radius: 3px;
  --denhaag-focus-border: var(--denhaag-focus-border-width) var(--denhaag-focus-border-style) var(--denhaag-focus-border-color);
  --denhaag-focus-border-color: var(--denhaag-color-ocher-5);
}

:root {
  --denhaag-heading-line-height: 1.3;
  --denhaag-heading-color: var(--denhaag-color-grey-5);
  --utrecht-heading-font-weight: var(--denhaag-typography-weight-bold);
  --utrecht-heading-font-family: var(--denhaag-typography-sans-serif-alternate-font-family);
  --utrecht-heading-color: var(--denhaag-color-grey-4);
  --utrecht-heading-5-font-size: var(--denhaag-typography-scale-base-font-size);
  --utrecht-heading-4-font-size: var(--denhaag-typography-scale-lg-font-size);
  --utrecht-heading-3-font-size: var(--denhaag-typography-scale-xl-font-size);
  --utrecht-heading-2-font-size: var(--denhaag-typography-scale-2xl-font-size);
  --utrecht-heading-1-font-size: var(--denhaag-typography-scale-3xl-font-size);
  --utrecht-heading-distanced-margin-block-end: 0;
  --utrecht-heading-distanced-margin-block-start: 0;
  --utrecht-heading-5-distanced-margin-block-end: 0;
  --utrecht-heading-5-distanced-margin-block-start: 0;
  --utrecht-heading-5-margin-block-start: 1rem;
  --utrecht-heading-5-margin-block-end: 0.28125rem;
  --utrecht-heading-4-distanced-margin-block-end: 0;
  --utrecht-heading-4-distanced-margin-block-start: 0;
  --utrecht-heading-4-margin-block-start: 1.1125rem;
  --utrecht-heading-4-margin-block-end: 0.3125rem;
  --utrecht-heading-3-distanced-margin-block-end: 0;
  --utrecht-heading-3-distanced-margin-block-start: 0;
  --utrecht-heading-3-margin-block-start: 1.33125rem;
  --utrecht-heading-3-margin-block-end: 0.375rem;
  --utrecht-heading-2-distanced-margin-block-end: 0;
  --utrecht-heading-2-distanced-margin-block-start: 0;
  --utrecht-heading-2-margin-block-start: 1.775rem;
  --utrecht-heading-2-margin-block-end: 0.5rem;
  --utrecht-heading-1-distanced-margin-block-end: 0;
  --utrecht-heading-1-distanced-margin-block-start: 0;
  --utrecht-heading-font-weight: var(--denhaag-typography-weight-bold);
  --utrecht-heading-font-family: var(--denhaag-typography-sans-serif-alternate-font-family);
  --utrecht-heading-color: var(--denhaag-color-grey-4);
  --utrecht-heading-5-font-size: var(--denhaag-typography-scale-base-font-size);
  --utrecht-heading-4-font-size: var(--denhaag-typography-scale-lg-font-size);
  --utrecht-heading-3-font-size: var(--denhaag-typography-scale-xl-font-size);
  --utrecht-heading-2-font-size: var(--denhaag-typography-scale-2xl-font-size);
  --utrecht-heading-1-font-size: var(--denhaag-typography-scale-3xl-font-size);

  --utrecht-paragraph-paragraph-margin-block-start: 0.89em;
  --utrecht-paragraph-distanced-margin-block-end: 0;
  --utrecht-paragraph-distanced-margin-block-start: 0;
  --utrecht-paragraph-lead-line-height: 26px;
  --utrecht-paragraph-margin-block-end: 0;
  --utrecht-paragraph-margin-block-start: 0;
  --utrecht-paragraph-list-margin-block-start: var(--denhaag-space-block-xl);
  --utrecht-paragraph-lead-paragraph-margin-block-start: var(--denhaag-space-block-2xl);
  --utrecht-paragraph-lead-list-margin-block-start: var(--denhaag-space-block-2xl);
  --utrecht-paragraph-lead-font-size: var(--denhaag-typography-scale-lg-font-size);
  --utrecht-paragraph-line-height: 1.5;
  --utrecht-paragraph-font-weight: var(--denhaag-typography-weight-regular);
  --utrecht-paragraph-font-size: var(--denhaag-typography-scale-base-font-size);
  --utrecht-paragraph-font-family: var(--denhaag-typography-sans-serif-font-family);
  --utrecht-paragraph-color: var(--denhaag-color-grey-4);

  --denhaag-button-large-size-padding-inline: var(--denhaag-space-inline-lg);
  --denhaag-button-secondary-action-disabled-color: var(--denhaag-color-grey-2);
  --denhaag-button-secondary-action-disabled-border-color: var(--denhaag-color-grey-2);
  --denhaag-button-secondary-action-disabled-background-color: var(--denhaag-color-white);
  --denhaag-button-secondary-action-hover-color: var(--denhaag-color-green-4);
  --denhaag-button-secondary-action-hover-border-color: var(--denhaag-color-green-4);
  --denhaag-button-secondary-action-hover-background-color: var(--denhaag-color-white);
  --denhaag-button-secondary-action-border-color: var(--denhaag-color-green-3);
  --denhaag-button-secondary-action-color: var(--denhaag-color-green-3);
  --denhaag-button-secondary-action-background-color: var(--denhaag-color-white);
  --denhaag-button-primary-action-disabled-color: var(--denhaag-color-white);
  --denhaag-button-primary-action-disabled-background-color: var(--denhaag-color-grey-2);
  --denhaag-button-primary-action-hover-color: var(--denhaag-color-white);
  --denhaag-button-primary-action-hover-background-color: var(--denhaag-color-green-4);
  --denhaag-button-primary-action-color: var(--denhaag-color-white);
  --denhaag-button-primary-action-background-color: var(--denhaag-color-green-3);
  --denhaag-button-focus-border-style: var(--denhaag-focus-border-style);
  --denhaag-button-focus-border-width: var(--denhaag-focus-border-width);
  --denhaag-button-padding-inline: var(--denhaag-space-inline-md);
  --denhaag-button-padding-block: var(--denhaag-space-block-xs);
  --denhaag-button-font-family: var(--denhaag-typography-sans-serif-font-family);
  --denhaag-button-border-radius: var(--denhaag-border-radius);
  --denhaag-button-large-size-padding-block: 0.40625rem;
  --denhaag-button-border-width: 1px;
  --denhaag-button-large-size-padding-inline: var(--denhaag-space-inline-lg);
  --denhaag-button-secondary-action-disabled-color: var(--denhaag-color-grey-2);
  --denhaag-button-secondary-action-disabled-border-color: var(--denhaag-color-grey-2);
  --denhaag-button-secondary-action-disabled-background-color: var(--denhaag-color-white);
  --denhaag-button-secondary-action-hover-color: var(--denhaag-color-green-4);
  --denhaag-button-secondary-action-hover-border-color: var(--denhaag-color-green-4);
  --denhaag-button-secondary-action-hover-background-color: var(--denhaag-color-white);
  --denhaag-button-secondary-action-border-color: var(--denhaag-color-green-3);
  --denhaag-button-secondary-action-color: var(--denhaag-color-green-3);
  --denhaag-button-secondary-action-background-color: var(--denhaag-color-white);
  --denhaag-button-primary-action-disabled-color: var(--denhaag-color-white);
  --denhaag-button-primary-action-disabled-background-color: var(--denhaag-color-grey-2);
  --denhaag-button-primary-action-hover-color: var(--denhaag-color-white);
  --denhaag-button-primary-action-hover-background-color: var(--denhaag-color-green-4);
  --denhaag-button-primary-action-color: var(--denhaag-color-white);
  --denhaag-button-primary-action-background-color: var(--denhaag-color-green-3);
  --denhaag-button-focus-border-style: var(--denhaag-focus-border-style);
  --denhaag-button-focus-border-width: var(--denhaag-focus-border-width);
  --denhaag-button-padding-inline: var(--denhaag-space-inline-md);
  --denhaag-button-padding-block: var(--denhaag-space-block-xs);
  --denhaag-button-font-family: var(--denhaag-typography-sans-serif-font-family);
  --denhaag-button-border-radius: var(--denhaag-border-radius);
  --denhaag-button-medium-size-padding-inline: var(--denhaag-button-padding-inline);
  --denhaag-button-medium-size-padding-block: var(--denhaag-button-padding-block);
  --denhaag-button-focus-border-color: var(--denhaag-focus-border-color);
  --utrecht-button-disabled-color: var(--denhaag-color-white);
  --utrecht-button-disabled-background-color: var(--denhaag-color-grey-2);
  --utrecht-button-focus-border-width: var(--denhaag-focus-border-width);
  --utrecht-button-secondary-action-disabled-color: var(--denhaag-color-grey-2);
  --utrecht-button-secondary-action-disabled-border-color: var(--denhaag-color-grey-2);
  --utrecht-button-secondary-action-disabled-background-color: var(--denhaag-color-white);
  --utrecht-button-secondary-action-hover-border-color: var(--denhaag-color-green-4);
  --utrecht-button-secondary-action-hover-color: var(--denhaag-color-green-4);
  --utrecht-button-secondary-action-hover-background-color: var(--denhaag-color-white);
  --utrecht-button-secondary-action-border-color: var(--denhaag-color-green-3);
  --utrecht-button-secondary-action-color: var(--denhaag-color-green-3);
  --utrecht-button-secondary-action-background-color: var(--denhaag-color-white);
  --utrecht-button-primary-action-hover-color: var(--denhaag-color-white);
  --utrecht-button-primary-action-hover-background-color: var(--denhaag-color-green-4);
  --utrecht-button-primary-action-color: var(--denhaag-color-white);
  --utrecht-button-primary-action-background-color: var(--denhaag-color-green-3);
  --utrecht-button-font-family: var(--denhaag-typography-sans-serif-font-family);
  --utrecht-button-color: var(--denhaag-color-white);
  --utrecht-button-border-radius: var(--denhaag-border-radius);
  --utrecht-button-background-color: var(--denhaag-color-green-3);
  --utrecht-button-secondary-action-border-width: 2px;
  --utrecht-button-margin-block-end: 0;
  --utrecht-button-margin-block-start: 0;
  --utrecht-button-margin-inline-end: 0;
  --utrecht-button-margin-inline-start: 0;
  --utrecht-button-padding-block-end: 13px;
  --utrecht-button-padding-block-start: 13px;
  --utrecht-button-padding-inline-end: 16px;
  --utrecht-button-padding-inline-start: 16px;
  --utrecht-button-border-width: 0;

  --denhaag-link-focus-outline: var(--denhaag-focus-border);
  --denhaag-link-disabled-color: var(--denhaag-color-grey-2);
  --denhaag-link-hover-color: var(--denhaag-color-blue-4);
  --denhaag-link-focus-color: var(--denhaag-color-blue-4);
  --denhaag-link-color: var(--denhaag-color-blue-3);
  --denhaag-link-group-denhaag-link-icon-denhaag-icon-padding-block-start: var(--denhaag-space-block-3xs);
  --denhaag-link-group-denhaag-link-with-icon-start-padding-inline-start: var(--denhaag-space-inline-xl);
  --denhaag-link-group-dark-denhaag-link-focus-border-color: var(--denhaag-color-ocher-2);
  --denhaag-link-group-dark-caption-color: var(--denhaag-color-ocher-3);
  --denhaag-link-group-dark-denhaag-link-color: var(--denhaag-color-white);
  --denhaag-link-group-navigation-list-item-padding-block: var(--denhaag-space-block-xs);
  --denhaag-link-group-navigation-list-margin-block-end: var(--denhaag-space-block-md);
  --denhaag-link-group-navigation-list-margin-block-start: var(--denhaag-space-block-xs);
  --denhaag-link-group-caption-font-weight: var(--denhaag-typography-weight-bold);
  --denhaag-link-group-caption-color: var(--denhaag-color-grey-5);
  --denhaag-link-group-image-padding-block-end: var(--denhaag-space-block-md);
  --denhaag-link-icon-size: 1.25em;
  --denhaag-link-icon-margin-end: 8px;
  --denhaag-link-icon-margin-start: 8px;
  --denhaag-link-padding: 8px;
  --denhaag-link-group-denhaag-link-icon-denhaag-icon-align-self: start;
  --denhaag-link-group-denhaag-link-icon-font-size: 0.75rem;
  --denhaag-link-group-denhaag-link-with-icon-start-padding-block-end: 0;
  --denhaag-link-group-denhaag-link-with-icon-start-padding-block-start: 0;
  --denhaag-link-group-denhaag-link-with-icon-start-display: inline-flex;
  --denhaag-link-group-denhaag-link-hover-text-decoration: underline;
  --denhaag-link-group-navigation-list-padding-inline-start: 0;
  --denhaag-link-group-navigation-list-list-style: none;
  --denhaag-link-group-caption-margin-block: 0;
  --denhaag-link-group-image-object-fit: cover;
  --denhaag-link-group-image-size: 8.75rem;
  --utrecht-link-hover-color: var(--denhaag-color-blue-4);
  --utrecht-link-focus-color: var(--denhaag-color-blue-4);
  --utrecht-link-color: var(--denhaag-color-blue-3);
  --utrecht-link-text-decoration: underline;

  --denhaag-tabs-tab-indicator-border-color: var(--denhaag-color-blue-3);
  --denhaag-tabs-tab-padding-inline-end: var(--denhaag-space-inline-xs);
  --denhaag-tabs-tab-padding-inline-start: var(--denhaag-space-inline-xs);
  --denhaag-tabs-tab-padding-block-end: var(--denhaag-space-block-xs);
  --denhaag-tabs-tab-padding-block-start: var(--denhaag-space-block-xs);
  --denhaag-tabs-tab-font-family: var(--denhaag-typography-sans-serif-font-family);
  --denhaag-tabs-tab-font-size: var(--denhaag-typography-scale-base-font-size);
  --denhaag-tabs-tab-color: var(--denhaag-color-grey-4);
  --denhaag-tabs-tab-background-color: var(--denhaag-color-white);
  --denhaag-tabs-border-color: var(--denhaag-color-grey-2);
  --denhaag-tabs-tab-panel-padding-inline-end: 0;
  --denhaag-tabs-tab-panel-padding-inline-start: 0;
  --denhaag-tabs-tab-panel-padding-block-end: 0;
  --denhaag-tabs-tab-panel-padding-block-start: 0;
  --denhaag-tabs-tab-indicator-border-width: 2px;
  --denhaag-tabs-tab-selected-font-weight: 700;
  --denhaag-tabs-tab-font-weight: 400;
  --denhaag-tabs-border-style: solid;
  --denhaag-tabs-border-width: 2px;

  --denhaag-form-field-description-error-color: var(--denhaag-color-red-3);
  --denhaag-form-field-description-line-height: 1.3;
  --denhaag-form-field-description-font-weight: var(--denhaag-typography-weight-regular);
  --denhaag-form-field-description-font-size: var(--denhaag-typography-scale-s-font-size);
  --denhaag-form-field-description-color: var(--denhaag-color-grey-4);
  --denhaag-form-field-label-margin-block-end: 4px;
  --denhaag-form-field-description-font-family: var(--utrecht-document-font-family);
  --denhaag-form-progress-progress-height: 2px;
  --denhaag-form-progress-header-margin-block-end: 20px;
  --denhaag-form-input-margin-block-end: 0;
  --denhaag-form-input-margin-block-start: 0;
  --denhaag-form-group-margin-block-end: 8px;
  --denhaag-form-group-margin-block-start: 8px;
  --denhaag-form-group-margin-inline-end: 8px;
  --denhaag-form-group-margin-inline-start: 8px;
  --denhaag-form-group-helper-text-margin-block-start: 4px;
  --denhaag-form-control-label-input-margin-inline-end: 8px;
  --denhaag-form-control-label-margin-block-end: 8px;
  --denhaag-form-progress-progress-bar-background-color: var(--denhaag-color-green-3);
  --denhaag-form-progress-progress-background-color: var(--denhaag-color-grey-2);
  --denhaag-form-progress-label-font-family: var(--denhaag-typography-sans-serif-font-family);
  --denhaag-form-progress-label-font-size: var(--denhaag-typography-scale-base-font-size);
  --denhaag-form-progress-label-font-weight: var(--denhaag-typography-weight-regular);
  --denhaag-form-progress-label-color: var(--denhaag-color-grey-4);
  --denhaag-form-input-icon-font-size: var(--denhaag-typography-scale-lg-font-size);
  --denhaag-form-input-line-height: 1.5;
  --denhaag-form-group-helper-text-error-color: var(--denhaag-color-red-3);
  --denhaag-form-group-helper-text-size: var(--denhaag-typography-scale-s-font-size);
  --denhaag-form-group-helper-text-color: var(--denhaag-color-grey-4);
  --denhaag-form-group-label-color: var(--denhaag-color-blue-5);

  --utrecht-form-input-font-family: var(--utrecht-document-font-family);
  --utrecht-form-label-radio-color: var(--denhaag-color-grey-4);
  --utrecht-form-label-checkbox-color: var(--denhaag-color-grey-4);
  --utrecht-form-label-font-size: var(--denhaag-typography-scale-base-font-size);
  --utrecht-form-label-font-weight: var(--denhaag-typography-weight-bold);
  --utrecht-form-label-color: var(--denhaag-color-grey-4);
  --utrecht-form-input-invalid-border-color: var(--denhaag-color-red-3);
  --utrecht-form-input-disabled-color: var(--denhaag-color-grey-2);
  --utrecht-form-input-disabled-border-color: var(--denhaag-color-grey-2);
  --utrecht-form-input-placeholder-color: var(--denhaag-color-grey-4);
  --utrecht-form-input-font-size: var(--denhaag-typography-scale-base-font-size);
  --utrecht-form-input-color: var(--denhaag-color-grey-4);
  --utrecht-form-input-border-radius: var(--denhaag-border-radius);
  --utrecht-form-input-border-color: var(--denhaag-color-grey-3);
  --utrecht-form-input-background-color: var(--denhaag-color-white);
  --utrecht-form-label-radio-font-weight: 400;
  --utrecht-form-label-checkbox-font-weight: 400;
  --utrecht-form-input-invalid-border-width: 1px;
  --utrecht-form-input-padding-inline-start: 12px;
  --utrecht-form-input-padding-inline-end: 12px;
  --utrecht-form-input-padding-block-start: 11px;
  --utrecht-form-input-padding-block-end: 11px;
  --utrecht-form-input-border-width: 1px;

  --denhaag-divider-border-color: var(--denhaag-color-grey-2);
  --denhaag-divider-margin-inline-end: 16px;
  --denhaag-divider-margin-inline-start: 16px;
  --denhaag-divider-margin-block-end: 16px;
  --denhaag-divider-margin-block-start: 16px;
  --denhaag-divider-border-width: 1px;

  --denhaag-table-cell-outline-color: var(--denhaag-focus-border-color);
  --denhaag-table-heading-color: var(--denhaag-color-grey-5);
  --denhaag-table-row-hover-background-color: var(--denhaag-color-warmgrey-1);
  --denhaag-table-row-background-color: var(--denhaag-color-white);
  --denhaag-table-cell-sm-padding-inline-start: var(--denhaag-space-block-xs);
  --denhaag-table-cell-sm-padding-inline-end: var(--denhaag-space-block-xs);
  --denhaag-table-cell-sm-padding-block-start: var(--denhaag-space-block-2xs);
  --denhaag-table-cell-sm-padding-block-end: var(--denhaag-space-block-2xs);
  --denhaag-table-cell-outline-width: var(--denhaag-focus-border-width);
  --denhaag-table-cell-outline-style: var(--denhaag-focus-border-style);
  --denhaag-table-cell-gap: var(--denhaag-space-block-2xs);
  --denhaag-table-cell-font-weight: var(--denhaag-typography-weight-regular);
  --denhaag-table-cell-color: var(--denhaag-color-grey-4);
  --denhaag-table-row-padding-block-start: 0.75rem;
  --denhaag-table-row-padding-block-end: 0.75rem;
  --denhaag-table-max-width: 100%;
  --denhaag-table-width: 100%;
  --utrecht-table-row-padding-inline-start: var(--denhaag-space-inline-xl);
  --utrecht-table-row-padding-inline-end: var(--denhaag-space-inline-xl);
  --utrecht-table-row-border-block-end-color: var(--denhaag-color-grey-1);
  --utrecht-table-cell-padding-inline-start: var(--denhaag-space-inline-md);
  --utrecht-table-cell-padding-inline-end: var(--denhaag-space-inline-md);
  --utrecht-table-cell-padding-block-start: var(--denhaag-space-block-md);
  --utrecht-table-cell-padding-block-end: var(--denhaag-space-block-md);
  --utrecht-table-cell-line-height: 1.5;
  --utrecht-table-heading-color: var(--denhaag-color-green-3);
  --utrecht-table-header-border-block-end-color: var(--denhaag-color-grey-1);
  --utrecht-table-caption-margin-block-end: var(--denhaag-space-block-xl);
  --utrecht-table-caption-line-height: 1.3;
  --utrecht-table-caption-color: var(--denhaag-color-black);
  --utrecht-table-caption-font-size: var(--denhaag-typography-scale-xl-font-size);
  --utrecht-table-caption-font-family: var(--denhaag-typography-sans-serif-font-family);
  --utrecht-table-border-color: var(--denhaag-color-grey-2);
  --utrecht-table-row-alternate-even-background-color: rgb(255, 255, 255);
  --utrecht-table-row-alternate-odd-background-color: rgb(250, 250, 250);
  --utrecht-table-row-border-block-end-width: 1px;
  --utrecht-table-heading-font-weight: 700;
  --utrecht-table-heading-font-size: 18px;
  --utrecht-table-header-border-block-end-width: 1px;
  --utrecht-table-caption-text-align: start;
  --utrecht-table-caption-font-weight: 700;
  --utrecht-table-border-width: 1px;
}
