.tags > *:not(:last-child) {
  margin-inline-end: var(--nlportal-space-inline-md);
}

.tag {
  font-size: var(--conduction-tag-font-size);
  background-color: var(--denhaag-color-grey-1);
  border-radius: var(--nlportal-document-border-radius);
  padding-inline-start: var(--nlportal-space-inline-xs);
  padding-inline-end: var(--nlportal-space-inline-xs);
  padding-block-start: var(--nlportal-space-block-xs);
  padding-block-end: var(--nlportal-space-block-xs);
}

