.container {
  border-radius: var(--web-app-border-radius-md);
  background-color: var(--web-app-color-background-light);
  padding-inline-start: var(--web-app-size-lg);
  padding-inline-end: var(--web-app-size-lg);
  padding-block-start: var(--web-app-size-lg);
  padding-block-end: var(--web-app-size-lg);
}

.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

.label {
  font-weight: var(--web-app-font-weight-normal);
  font-size: var(--web-app-size-md);
}

.trigger > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-md);
}

.trigger {
  display: flex;
  align-items: center;
}

.title {
  display: block;
  font-weight: var(--web-app-font-weight-bold);
  font-size: var(--web-app-size-md);
  cursor: pointer;
}

.toggleIcon {
  font-size: var(--web-app-font-size-lg);
  transition: transform 200ms ease-in-out;
}

.toggleIcon.active {
  font-size: var(--web-app-font-size-md);
  transition: transform 200ms ease-in-out;
}

.toggleIcon.isOpen {
  transform: rotate(90deg);
}

.collapsible .divider {
  margin-block-start: var(--web-app-size-md);
  margin-block-end: var(--web-app-size-md);
}

.form > *:not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

.selectBorder > div > div {
  border-radius: 0;
}

.filterTitle:not(:last-child) {
  display: flex;
  margin-inline-end: var(--web-app-size-2xs);
}

.trigger {
  margin-block-end: 10px;
}

.test {
  display: flex;
  flex-wrap: wrap;
}

.test > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.checkColor {
  accent-color: var(--web-app-checkbox-color);
}
