.header {
  position: relative;
  z-index: 2;
}

.pageContent {
  min-height: 100vh;
  z-index: 1;
}

.footer {
  margin-block-start: var(--web-app-size-4xl);
}

.breadcrumbsContainer {
  margin-block-start: var(--web-app-size-xl);
  margin-block-end: var(--web-app-size-xl);
  padding-inline-start: var(--web-app-size-md);

  background-color: var(--web-app-color-background-light);

  --denhaag-breadcrumb-color: var(--web-app-breadcrumb-color);
}
