.header {
  position: relative;
  z-index: 2;
  margin-block-end: var(--web-app-size-xl);
}

.pageContent {
  min-height: 100vh;
  z-index: 1;
  padding-inline-start: var(--web-app-size-sm);
  padding-inline-end: var(--web-app-size-md);
}

.footer {
  margin-block-start: var(--web-app-size-4xl);
  padding-inline-start: var(--web-app-size-md);
  padding-inline-end: var(--web-app-size-md);
}
