.container > *:not(.title):not(.layerTags):not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

.title {
  font-size: var(--web-app-font-size-lg);
}

.title > span > svg {
  width: var(--web-app-font-size-lg);
  height: var(--web-app-font-size-lg);
}

.title > span {
  display: flex;
}

.description {
  color: var(--conduction-card-wrapper-color) !important;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.container:hover .description {
  color: var(--conduction-card-wrapper-hover-color, var(--conduction-card-wrapper-color)) !important;
}

.layerTags {
  display: flex;
  margin-block-end: var(--web-app-size-xs);
}

.layerTags > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--web-app-size-xs);
}

.content > *:not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

.ratingContainer {
  display: flex;
}

.ratingIndicatorContainer {
  height: 70px;
}

.ratingIndicatorContainer > svg {
  margin-block-end: 0;
}
.ratingIndicatorContainer > svg > text {
  font-size: 23px !important;
}

@media only screen and (min-width: 992px) {
  /* Desktop */
  .content {
    display: flex;
    justify-content: space-between;
  }

  .tagsContainer {
    flex: 8;
  }

  .ratingContainer {
    align-self: center;
    flex: 1;
  }
  .ratingIndicatorContainer {
    min-height: 55px;
  }
}

@media only screen and (min-width: 576px) {
  /* Tablet */
  .content {
    display: flex;
    justify-content: space-between;
  }

  .tagsContainer {
    flex: 4;
  }

  .ratingContainer {
    align-self: center;
    flex: 1;
  }
  .ratingIndicatorContainer {
    min-height: 55px;
  }
}

/* Colors of the 5 layers */
.interactionLayer,
.interfaceLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-interaction);
  --utrecht-badge-color: #ffffff;
}
.interactionCategory,
.interfaceCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-interaction);
  --utrecht-badge-color: #000000;
}

.processLayer,
.processsLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-process);
  --utrecht-badge-color: #ffffff;
}
.procesCategory,
.processCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-process);
  --utrecht-badge-color: #000000;
}

.integrationLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-integration);
  --utrecht-badge-color: #ffffff;
}
.integrationCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-integration);
  --utrecht-badge-color: #000000;
}

.servicesLayer,
.serviceLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-services);
  --utrecht-badge-color: #ffffff;
}

.servicesCategory,
.serviceCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-services);
  --utrecht-badge-color: #000000;
}

.dataLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-data);
  --utrecht-badge-color: #ffffff;
}
.dataCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-data);
  --utrecht-badge-color: #000000;
}

.unknownLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-unknown);
  --utrecht-badge-color: #ffffff;
}
.unknownCategory {
  --utrecht-badge-background-color: var(--web-app-layer-color-unknown);
  --utrecht-badge-color: #000000;
}
