.container > *:not(.title):not(.layerTags):not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

.title {
  font-size: var(--web-app-font-size-lg);
}

.title > span > svg {
  width: var(--web-app-font-size-lg);
  height: var(--web-app-font-size-lg);
}

.title > span {
  display: flex;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.layerTags {
  display: flex;
  margin-block-end: var(--web-app-size-xs);
}

.layerTags > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: var(--web-app-size-xs);
}

/* Colors of the 5 layers */
.interactionLayer,
.interfaceLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-interaction);
}
.interactionCategory,
.interfaceCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-interaction);
}

.processLayer,
.processsLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-process);
}
.procesCategory,
.processCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-process);
}

.integrationLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-integration);
}
.integrationCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-integration);
}

.servicesLayer,
.serviceLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-services);
}

.servicesCategory,
.serviceCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-services);
}

.dataLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-data);
}
.dataCategory {
  --utrecht-badge-background-color: var(--web-app-layer-category-color-data);
}

.unknownLayer {
  --utrecht-badge-background-color: var(--web-app-layer-color-unknown);
}
.unknownCategory {
  --utrecht-badge-background-color: var(--web-app-layer-color-unknown);
}
