.container {
  display: flex;
}

.container > * {
  display: flex;
  align-items: center;
  user-select: none;
}

.container > *.active {
  font-weight: var(--web-app-font-weight-bold);
}

.container > *:hover {
  cursor: pointer;
}

.container > .disabled:hover {
  cursor: no-drop;
}

.container .disabled {
  opacity: 0.45;
}

.container > *::before {
  content: " ";
  display: inline-block;
  width: var(--web-app-size-md);
  height: var(--web-app-size-md);
  background-color: var(--web-app-color-background-light);
  margin-inline-end: var(--web-app-size-2xs);
}

.container > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-md);
}

.container > :not(.disabled).interactie.inactive,
:not(.disabled).proces.inactive,
:not(.disabled).integratie.inactive,
:not(.disabled).service.inactive,
:not(.disabled).data.inactive {
  opacity: 0.65;
}

.container > .interactie.active::before {
  background-color: var(--web-app-layer-color-interaction);
}
.container > :not(.disabled).interactie.inactive::before {
  background-color: var(--web-app-layer-color-interaction);
}

.container > .proces.active::before {
  background-color: var(--web-app-layer-color-process);
}
.container > :not(.disabled).proces.inactive::before {
  background-color: var(--web-app-layer-color-process);
}

.container > .integratie.active::before {
  background-color: var(--web-app-layer-color-integration);
}
.container > :not(.disabled).integratie.inactive::before {
  background-color: var(--web-app-layer-color-integration);
}

.container > .service.active::before {
  background-color: var(--web-app-layer-color-services);
}
.container > :not(.disabled).service.inactive::before {
  background-color: var(--web-app-layer-color-services);
}

.container > .data.active::before {
  background-color: var(--web-app-layer-color-data);
}
.container > :not(.disabled).data.inactive::before {
  background-color: var(--web-app-layer-color-data);
}
