.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  text-align: center;
  padding-block-start: var(--nlportal-space-inline-4xl);
  padding-block-end: var(--nlportal-space-inline-4xl);
}

.searchFormContainer {
  width: 100%;
  max-width: 650px;
}
