.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-3xl);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.section > .subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.cards {
  display: flex;
  gap: var(--web-app-size-lg);
}

.cards > * {
  flex: 1;
}

.feedback {
  width: 100%;
  max-width: 800px;
}
