.container {
  display: flex;
  background-color: var(--web-app-submit-component-background-color);
  padding-inline-start: var(--web-app-size-md);
  padding-inline-end: var(--web-app-size-md);
  padding-block-start: var(--web-app-size-md);
  padding-block-end: var(--web-app-size-md);
}

.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

.header {
  flex: 2;
}

.title {
  font-weight: bold;
  font-size: var(--web-app-font-size-xl);
  margin-block-end: var(--web-app-size-xs);
}

.buttonContainer {
  flex: 1;
  align-self: center;
  text-align: -webkit-right;
}
.button {
  width: fit-content;
  display: flex;
}
