.items {
  padding-block-end: var(--web-app-size-md);
}

.items > * {
  margin-block-end: var(--web-app-size-sm);
}

.items > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-sm);
}

.ComponentsGrid {
  display: grid;
  grid-gap: var(--web-app-size-lg);
  grid-template-columns: 1fr 1fr;
}

.container {
  opacity: 0.65;
}
