.container {
  background-color: var(--web-app-color-background-footer);
  padding-block-end: var(--web-app-size-3xl);
  padding-block-start: var(--web-app-size-3xl);
}
.content {
  margin-inline: auto;
  max-width: var(--conduction-container-max-width);
}
.content > *:not(:last-child) {
  margin-block-end: var(--web-app-size-sm);
}

.label {
  font-weight: var(--web-app-font-weight-normal);
  font-size: var(--web-app-size-md);
  color: var(--web-app-color-footer-headings);
}
.header {
  color: var(--web-app-color-footer-headings);
}

.themeSwitcherContainer {
  max-width: 600px;
}
