.container > * {
  margin-block-start: var(--web-app-size-3xl);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.link {
  margin-inline-start: var(--web-app-size-xs);
}
