html,
body {
  margin: 0;
  background-color: var(--web-app-color-body-background);
  font-family: var(--web-app-primary-font-family);
}

.MuiTabs-indicator {
  background-color: var(--web-app-color-link) !important;
}
