/* Global internal styling */
@import "./global.css";

/* Design Tokens */
@import "@gemeente-denhaag/design-tokens-components/dist/index.css";
@import "./design-tokens/conduction-design-tokens.css";
@import "./design-tokens/den-haag-design-tokens.css"; /* Overrides */
@import "./design-tokens/den-haag-breadcrumbs.css"; /* Missing breadcrumbs */

/* Package includes */
@import "react-loading-skeleton/dist/skeleton.css";

/* Overrides */
@import "./overrides.css";
