.container > * {
  margin-block-start: var(--web-app-size-3xl);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.tableButtons {
  width: 100%;
  display: flex;
  justify-content: end;
}

.tableButtons > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-lg);
}
