.container > * {
  margin-block-start: var(--web-app-size-xl);
  display: flex;
  justify-content: space-between;
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.tableButtons {
  margin-block-start: var(--web-app-size-sm);
}

.tableButtons > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-lg);
}
