/* Table */
.tableContentRow > :last-child {
  display: flex;
  justify-content: flex-end;
}

/* Cards */
.cardsComponentsGrid {
  display: grid;
  grid-gap: var(--nlportal-space-block-md);
  grid-template-columns: 1fr 1fr;
}