.container {
  max-width: var(--conduction-container-max-width);
}

.container > * {
  margin-block-start: var(--web-app-size-3xl);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.paragraphButtons > *:not(:last-child) {
  margin-right: var(--web-app-size-sm);
}

.content {
  display: flex;
  justify-content: space-between;
  gap: var(--web-app-size-2xl);
}

.button:hover {
  cursor: pointer;
}
