.items {
  padding-block-end: var(--web-app-size-md);
}

.items > * {
  margin-block-end: var(--web-app-size-sm);
}

.items > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-sm);
}

/* Colors of the 5 layers */
.interactieCategory,
.interfaceCategory {
  background-color: #cfe2ff !important;
  color: var(--web-app-color-black) !important;
  border: none !important;
}
.interactieCategory:hover,
.interfaceCategory:hover {
  background-color: #cfe2ff !important;
  color: #1a75ff !important;
  cursor: pointer !important;
}

.procesCategory,
.processCategory {
  background-color: #f8d7da !important;
  color: var(--web-app-color-black) !important;
  border: none !important;
}
.procesCategory:hover,
.processCategory:hover {
  background-color: #f8d7da !important;
  color: #dd3c49 !important;
  cursor: pointer !important;
}

.integratieCategory,
.integrationCategory {
  background-color: #fff3cd !important;
  color: var(--web-app-color-black) !important;
  border: none !important;
}
.integratieCategory:hover,
.integrationCategory:hover {
  background-color: #fff3cd !important;
  color: #efc025 !important;
  cursor: pointer !important;
}

.servicesCategory,
.serviceCategory {
  background-color: #d1e7dd !important;
  color: var(--web-app-color-black) !important;
  border: none !important;
}
.servicesCategory:hover,
.serviceCategory:hover {
  background-color: #d1e7dd !important;
  color: #69b090 !important;
  cursor: pointer !important;
}

.dataCategory {
  background-color: #e2d9f3 !important;
  color: var(--web-app-color-black) !important;
  border: none !important;
}
.dataCategory:hover {
  background-color: #e2d9f3 !important;
  color: #7a51c8 !important;
  cursor: pointer !important;
}
