.items {
  padding-block-end: var(--web-app-size-md);
}

.items > * {
  margin-block-end: var(--web-app-size-sm);
}

.items > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-sm);
}

/* Colors of the 5 layers */
.interactie {
  --web-app-tag-background-color: #1a75ff;
  --web-app-tag-color: var(--web-app-color-white);
}
.interactieCategory,
.interfaceCategory {
  background-color: #cfe2ff;
  color: var(--web-app-color-black);
  border: none;
}
.interactieCategory:hover,
.interfaceCategory:hover {
  background-color: #cfe2ff;
  color: #1a75ff;
  cursor: pointer;
}

.proces,
.process,
.processs {
  --web-app-tag-background-color: #dd3c49;
  --web-app-tag-color: var(--web-app-color-white);
}
.procesCategory,
.processCategory {
  background-color: #f8d7da;
  color: var(--web-app-color-black);
  border: none;
}
.procesCategory:hover,
.processCategory:hover {
  background-color: #f8d7da;
  color: #dd3c49;
  cursor: pointer;
}

.integratie,
.integration {
  --web-app-tag-background-color: #efc025;
  --web-app-tag-color: var(--web-app-color-white);
}
.integratieCategory,
.integrationCategory {
  background-color: #fff3cd;
  color: var(--web-app-color-black);
  border: none;
}
.integratieCategory:hover,
.integrationCategory:hover {
  background-color: #fff3cd;
  color: #efc025;
  cursor: pointer;
}

.services,
.service {
  --web-app-tag-background-color: #69b090;
  --web-app-tag-color: var(--web-app-color-white);
}
.servicesCategory,
.serviceCategory {
  background-color: #d1e7dd;
  color: var(--web-app-color-black);
  border: none;
}
.servicesCategory:hover,
.serviceCategory:hover {
  background-color: #d1e7dd;
  color: #69b090;
  cursor: pointer;
}

.data {
  --web-app-tag-background-color: #7a51c8;
  --web-app-tag-color: var(--web-app-color-white);
}
.dataCategory {
  background-color: #e2d9f3;
  color: var(--web-app-color-black);
  border: none;
}
.dataCategory:hover {
  background-color: #e2d9f3;
  color: #7a51c8;
  cursor: pointer;
}
