.items {
  padding-block-end: var(--web-app-size-md);
}

.items > * {
  margin-block-end: var(--web-app-size-sm);
}

.items > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-sm);
}

.container {
  opacity: 0.65;
}

.categoryButton {
  border: none !important;
  --denhaag-button-secondary-action-color: var(--web-app-color-black);
}

.categoryButton:hover {
  cursor: pointer !important;
}

/* Colors of the 5 layers */
.interactieCategory {
  --denhaag-button-secondary-action-background-color: var(
    --web-app-layer-category-color-interaction
  );
}
.interactieCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(
    --web-app-layer-category-color-interaction
  );
  --denhaag-button-secondary-action-hover-color: var(
    --web-app-layer-color-interaction
  );
}

.procesCategory {
  --denhaag-button-secondary-action-background-color: var(
    --web-app-layer-category-color-process
  );
}
.procesCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(
    --web-app-layer-category-color-process
  );
  --denhaag-button-secondary-action-hover-color: var(
    --web-app-layer-color-process
  );
}

.integratieCategory {
  --denhaag-button-secondary-action-background-color: var(
    --web-app-layer-category-color-integration
  );
}
.integratieCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(
    --web-app-layer-category-color-integration
  );
  --denhaag-button-secondary-action-hover-color: var(
    --web-app-layer-color-integration
  );
}

.servicesCategory {
  --denhaag-button-secondary-action-background-color: var(
    --web-app-layer-category-color-services
  );
}
.servicesCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(
    --web-app-layer-category-color-services
  );
  --denhaag-button-secondary-action-hover-color: var(
    --web-app-layer-color-services
  );
}

.dataCategory {
  --denhaag-button-secondary-action-background-color: var(
    --web-app-layer-category-color-data
  );
}
.dataCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(
    --web-app-layer-category-color-data
  );
  --denhaag-button-secondary-action-hover-color: var(
    --web-app-layer-color-data
  );
}
