.wrapper {
  display: inline-block;
  position: relative;
}

.content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--web-app-size-xs);
  color: var(--web-app-color-white);
  background: var(--web-app-color-black);
  font-size: var(--web-app-font-size-sm);
  font-family: var(--web-app-content-font-family);
  line-height: var(--web-app-line-height-xs);
  white-space: nowrap;
}

.content::before {
  content: " ";
  left: 50%;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--web-app-font-size-4xs);
  margin-left: calc(var(--web-app-font-size-4xs) * -1);
}

.top {
  top: calc(var(--web-app-size-xl) * -1);
}
.top::before {
  top: 100%;
  border-top-color: var(--web-app-color-black);
}

.right {
  left: calc(100% + var(--web-app-size-xl));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
.right::before {
  left: calc(var(--web-app-font-size-4xs) * -1);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-right-color: var(--web-app-color-black);
}

.bottom {
  bottom: calc(var(--web-app-size-xl) * -1);
}
.bottom::before {
  bottom: 100%;
  border-bottom-color: var(--web-app-color-black);
}

.left {
  left: auto;
  right: calc(100% + var(--web-app-size-xl));
  top: 50%;
  transform: translateX(0) translateY(-50%);
}
.left::before {
  left: auto;
  right: calc(var(--web-app-font-size-4xs) * -2);
  top: 50%;
  transform: translateX(0) translateY(-50%);
  border-left-color: var(--web-app-color-black);
}
