.tableRow {
  cursor: pointer;
}

.tableRow > * {
  vertical-align: middle !important;
}

.name {
  display: block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagWidth {
  width: max-content !important;
}

.detailsLink {
  display: inline-flex;
}

.componentsHeader {
  display: flex;
  align-items: center;
  gap: var(--web-app-size-xs);
}

.tags {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  margin-inline-end: var(--web-app-size-xs);
}
