.form {
  display: flex;
  padding-block-start: var(--nlportal-space-inline-xl);
  padding-block-end: var(--nlportal-space-inline-xl);
}
.form > *:not(:last-child) {
  flex-grow: 1;
}

.form > :last-child {
  margin-left: var(--conduction-space-inline-left);
  margin-bottom: var(--conduction-space-inline-bottom);
}
