:root {
  --conduction-tag-font-size: var(--skeleton-font-size-sm);
  --conduction-tag-color: var(--skeleton-black);
  --conduction-tag-backgrond-color: var(--skeleton-color-grey-1);
  --conduction-tag-border-radius: var(--skeleton-border-radius-md);
  --conduction-tag-padding: var(--skeleton-size-xs);
  --conduction-tag-margin: var(--skeleton-size-2xs);
}

.tag {
  display: inline-block;
  width: fit-content;
  font-size: var(--conduction-tag-font-size);
  color: var(--conduction-tag-color);
  background-color: var(--conduction-tag-backgrond-color);
  border-radius: var(--conduction-tag-border-radius);
  padding-inline-start: var(--conduction-tag-padding);
  padding-inline-end: var(--conduction-tag-padding);
  padding-block-start: var(--conduction-tag-padding);
  padding-block-end: var(--conduction-tag-padding);
}

.tag > *:not(:last-child) {
  margin-inline-end: var(--conduction-tag-margin);
}

.tag > span > svg {
  max-width: var(--conduction-tag-font-size);
  max-height: var(--conduction-tag-font-size);
}

.tagIconLinkProps > span > svg {
  vertical-align: -0.125em;
  max-width: var(--conduction-tag-font-size);
  max-height: var(--conduction-tag-font-size);
}

.tagIconLinkProps :hover {
  cursor: pointer;
}
