.container {
  user-select: none;
  padding-block-end: var(--web-app-size-md);
}

.container:hover {
  cursor: pointer;
}

.disabled {
  opacity: var(--web-app-disabled-opacity);
}

.disabled:hover {
  cursor: no-drop;
}

.content {
  display: flex;
  align-items: center;
}

.title:not(:last-child) {
  display: flex;
  margin-inline-end: var(--web-app-size-2xs);
}

.content > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-md);
}

.content > .categoryIcon {
  margin-inline-end: var(--web-app-size-xs);
}

.toggleIcon {
  font-size: var(--web-app-font-size-lg);
  transition: transform 200ms ease-in-out;
}

.toggleIcon.active {
  transform: rotate(90deg);
}

.disabled .badge {
  --conduction-badge-counter-background-color: var(--web-app-color-background-light);
  --conduction-badge-counter-color: var(--web-app-color-black);
}

.disabled .toggleIcon {
  display: none;
}

.maxNumber {
  --conduction-badge-counter-font-size: var(--web-app-badge-counter-max-number-font-size);
}
.categoriesCardsTitle {
  display: flex;
}
