.container {
  display: flex;
  gap: 24px;
}

.container > * {
  flex: 1;
}

/* Card */
.cardContainer {
  background: #f5f5f5;
  padding: 24px;
  border-radius: 3px;
}

.cardContainer:hover {
  cursor: pointer;
}

.cardCount {
  font-size: 72px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.cardLinkContainer {
  display: flex;
  justify-content: center;
}
