.container {
  display: flex;
  gap: var(--skeleton-size-lg);
}

.container > * {
  flex: 1;
}

/* Card */
.cardContainer {
  background: #f5f5f5;
  padding: var(--skeleton-size-lg);
  border-radius: var(--skeleton-border-radius-md);
}

.cardContainer:hover {
  cursor: pointer;
}

.cardCount {
  font-size: var(--skeleton-font-size-4xl);
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.cardLinkContainer {
  display: flex;
  justify-content: center;
}
