.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--web-app-size-3xl);
}

.resultsDisplaySwitchButtons *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.ComponentsGrid {
  display: grid;
  grid-gap: var(--web-app-size-lg);
  grid-template-columns: 1fr 1fr 1fr;
}

.subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.title {
  color: var(--web-app-color-text-grey);
}

.description {
  color: var(--web-app-color-text-grey);
}
