.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--web-app-size-3xl);
}

.subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.ComponentsGrid {
  grid-template-columns: 1fr 1fr;
}

.ComponentsGrid > :not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

@media only screen and (min-width: 576px) {
  .ComponentsGrid {
    display: grid;
    grid-gap: var(--web-app-size-lg);
    grid-template-columns: 1fr 1fr;
  }

  .ComponentsGrid > :not(:last-child) {
    margin-block-end: 0;
  }
}

/* pagination */

.paginationContainer {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.paginationContainer > *:not(:last-child) {
  flex: 1;
}

.paginationLink {
  font-size: var(--web-app-font-size-lg);
}

.paginationLinkSmall {
  font-size: var(--web-app-font-size-md);
}

.paginationLink :hover {
  cursor: pointer;
  color: var(--web-app-color-link-active);
}

.paginationActivePage {
  color: var(--web-app-color-link-active);
  font-weight: var(--web-app-font-weight-bold);
  font-size: var(--web-app-font-size-lg);
}

.paginationActivePageSmall {
  color: var(--web-app-color-link-active);
  font-weight: var(--web-app-font-weight-bold);
  font-size: var(--web-app-font-size-md);
}

.paginationActivePage :hover {
  cursor: default;
}

.paginationDisabled :hover {
  cursor: unset !important;
  color: var(--web-app-color-disabled);
}

.paginationDisabled {
  color: var(--web-app-color-disabled);
}

.breakLink {
  font-size: var(--web-app-font-size-lg);
}
.breakLink :hover {
  cursor: default !important;
}

@media only screen and (min-width: 992px) {
  .paginationContainer > *:not(:first-child) {
    margin-inline-start: var(--web-app-size-xl);
  }

  .paginationContainer > *:not(:last-child) {
    flex: unset !important;
  }

  .paginationLink {
    font-size: var(--web-app-font-size-lg);
  }

  .paginationActivePage {
    color: var(--web-app-color-link-active);
    font-weight: var(--web-app-font-weight-bold);
    font-size: var(--web-app-font-size-lg);
  }
}
