.container {
  background-color: var(--skeleton-color-grey-1);
  border-radius: var(--skeleton-border-radius-md);
  padding-inline-start: var(--skeleton-size-md);
  padding-inline-end: var(--skeleton-size-md);
  padding-block-start: var(--skeleton-size-md);
  padding-block-end: var(--skeleton-size-md);
}

.container > * {
  display: block;
}

.container > *:not(:last-child) {
  margin-block-end: var(--skeleton-size-xs);
}

.container > .title {
  font-weight: var(--skeleton-font-weight-bold);
  font-size: var(--skeleton-font-size-xl);
  color: var(--skeleton-color-black);
}

.content {
  color: var(--skeleton-color-black);
}
