:export {
  layerColorInteraction: --web-app-layer-color-interaction;
  layerColorProcess: --web-app-layer-color-process;
  layerColorIntegration: --web-app-layer-color-integration;
  layerColorServices: --web-app-layer-color-services;
  layerColorData: --web-app-layer-color-data;
}

.test {
  height: 500px;
  width: var(--conduction-container-max-width);
  border: 2px;
  border: 1px solid lightgrey;
}

/* Colors of the 5 layers */
.interactie,
.interaction {
  --web-app-tag-background-color: var(--web-app-layer-color-interaction);
  --web-app-tag-color: var(--web-app-color-white);
}
.interactieCategory,
.interactionCategory,
.interfaceCategory {
  --web-app-tag-background-color: var(
    --web-app-layer-category-color-interaction
  );
}

.proces,
.process,
.processs {
  --web-app-tag-background-color: var(--web-app-layer-color-process);
  --web-app-tag-color: var(--web-app-color-white);
}
.procesCategory,
.processCategory {
  --web-app-tag-background-color: var(--web-app-layer-category-color-process);
}

.integratie,
.integration {
  --web-app-tag-background-color: var(--web-app-layer-color-integration);
  --web-app-tag-color: var(--web-app-color-white);
}
.integratieCategory,
.integrationCategory {
  --web-app-tag-background-color: var(
    --web-app-layer-category-color-integration
  );
}

.services,
.service {
  --web-app-tag-background-color: var(--web-app-layer-color-services);
  --web-app-tag-color: var(--web-app-color-white);
}

.servicesCategory,
.serviceCategory {
  --web-app-tag-background-color: var(--web-app-layer-category-color-services);
}

.data {
  --web-app-tag-background-color: var(--web-app-layer-color-data);
  --web-app-tag-color: var(--web-app-color-white);
}
.dataCategory {
  --web-app-tag-background-color: var(--web-app-layer-category-color-data);
}
