/*
 * Generics theme based
*/
@font-face {
  font-family: "Bolder";
  font-weight: bold;
  src: url("./../../../fonts/Bolder-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Bolder";
  font-weight: light;
  src: url("./../../../fonts/Bolder-Light.woff2") format("woff2");
}
@font-face {
  font-family: "Bolder";
  font-weight: normal;
  src: url("./../../../fonts/Bolder-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Bolder";
  font-weight: normal;
  font-style: italic;
  src: url("./../../../fonts/Bolder-RegularItalic.woff2") format("woff2");
}

:root {
  --rotterdam-color-green: #00811f;
}

/*
 * Generics global
*/
:root {
  /* Sizes */
  --web-app-size-4xs: var(--skeleton-size-4xs);
  --web-app-size-3xs: var(--skeleton-size-3xs);
  --web-app-size-2xs: var(--skeleton-size-2xs);
  --web-app-size-xs: var(--skeleton-size-xs);
  --web-app-size-sm: var(--skeleton-size-sm);
  --web-app-size-md: var(--skeleton-size-md);
  --web-app-size-lg: var(--skeleton-size-lg);
  --web-app-size-xl: var(--skeleton-size-xl);
  --web-app-size-2xl: var(--skeleton-size-2xl);
  --web-app-size-3xl: var(--skeleton-size-3xl);
  --web-app-size-4xl: var(--skeleton-size-4xl);

  /* Font families */
  --web-app-primary-font-family: "Bolder";
  --web-app-content-font-family: var(--skeleton-content-font-family);

  /* Font sizes */
  --web-app-font-size-4xs: var(--skeleton-font-size-4xs);
  --web-app-font-size-3xs: var(--skeleton-font-size-3xs);
  --web-app-font-size-2xs: var(--skeleton-font-size-2xs);
  --web-app-font-size-xs: var(--skeleton-font-size-xs);
  --web-app-font-size-sm: var(--skeleton-font-size-sm);
  --web-app-font-size-md: var(--skeleton-font-size-md);
  --web-app-font-size-lg: var(--skeleton-font-size-lg);
  --web-app-font-size-xl: var(--skeleton-font-size-xl);
  --web-app-font-size-2xl: var(--skeleton-font-size-2xl);
  --web-app-font-size-3xl: var(--skeleton-font-size-3xl);
  --web-app-font-size-4xl: var(--skeleton-font-size-4xl);

  /* Line heights */
  --web-app-line-height-xs: var(--skeleton-line-height-xs);
  --web-app-line-height-sm: var(--skeleton-line-height-sm);
  --web-app-line-height-md: var(--skeleton-line-height-md);
  --web-app-line-height-lg: var(--skeleton-line-height-lg);

  /* Font weights */
  --web-app-font-weight-light: var(--skeleton-font-weight-light);
  --web-app-font-weight-normal: var(--skeleton-font-weight-normal);
  --web-app-font-weight-bold: var(--skeleton-font-weight-bold);

  /* Border radiuses */
  --web-app-border-radius-sm: 0;
  --web-app-border-radius-md: 0;
  --web-app-border-radius-lg: 0;

  /* Focus border */
  --web-app-focus-border: unset;

  /* Theme colors */
  --web-app-color-white: hsl(0 0% 100%);
  --web-app-color-black: hsl(0 0% 0%);

  --web-app-color-link: var(--rotterdam-color-green);
  --web-app-color-link-active: var(--rotterdam-color-green);

  --web-app-color-heading: var(--web-app-color-black);

  --web-app-color-primary-text: var(--web-app-color-black);

  --web-app-color-disabled: #eff4f6;

  --web-app-color-primary-action: var(--rotterdam-color-green);
  --web-app-color-primary-action-hover: var(--rotterdam-color-green);

  --web-app-color-secondary-action: var(--rotterdam-color-green);
  --web-app-color-secondary-action-hover: var(--rotterdam-color-green);

  --web-app-color-table-row-background-hover: #eff4f6;

  --web-app-color-invalid: hsl(6 93% 42%);

  --web-app-color-background-light: #eff4f6;
  --web-app-color-body-background: var(--web-app-color-white);

  --web-app-color-background-page-header: var(--rotterdam-color-green);
  --web-app-color-page-header: var(--web-app-color-white);

  --web-app-color-background-page-top-bar: var(--web-app-color-white);

  --web-app-color-background-footer: #eff4f6;
  --web-app-color-footer-headings: auto;
  --web-app-color-footer-links: var(--web-app-color-black);

  --web-app-footer-logo-container-background-color: unset;
  --web-app-footer-logo-container-padding: unset;
  --web-app-footer-logo-container-border-radius: 0;
  --web-app-footer-loog-container-height: 50px;
  --web-app-footer-organisation-logo-width: 230px;
  --web-app-footer-organisation-logo-src: url("https://opencatalogi.nl/images/LogoRotterdam.svg");

  --web-app-rating-active-color: var(--rotterdam-color-green);
  --web-app-rating-disable-color: #bfbfbf;

  /* Components */
  --web-app-tag-color: var(--web-app-color-black);
  --web-app-tag-background-color: var(--skeleton-color-grey-1);

  --web-app-component-card-border-color: 1px solid var(--skeleton-color-grey-2);

  /* @conduction: Secondary Top Navigation */
  --web-app-secondary-top-nav-item-padding: var(--web-app-size-md);
  --web-app-secondary-top-nav-font-size: var(--web-app-font-size-md);
  --web-app-secondary-top-nav-color: var(--web-app-color-black);
  --web-app-secondary-top-nav-background-color-hover: auto;
  --web-app-secondary-top-nav-font-weight: var(--web-app-font-weight-light);

  /* @condcution: Primary Top Navigation */
  --web-app-primary-top-nav-item-padding: var(--web-app-size-md);
  --web-app-primary-top-nav-color: var(--web-app-color-white);
  --web-app-primary-top-nav-background-color: var(--rotterdam-color-green);
  --web-app-primary-top-nav-background-color-hover: var(
    --rotterdam-color-green
  );
  --web-app-primary-top-nav-dropdown-border-radius: var(
    --web-app-border-radius-md
  );
}
