/*
 * Generics global
*/
:root {
  /* Sizes */
  --web-app-size-4xs: var(--skeleton-size-4xs);
  --web-app-size-3xs: var(--skeleton-size-3xs);
  --web-app-size-2xs: var(--skeleton-size-2xs);
  --web-app-size-xs: var(--skeleton-size-xs);
  --web-app-size-sm: var(--skeleton-size-sm);
  --web-app-size-md: var(--skeleton-size-md);
  --web-app-size-lg: var(--skeleton-size-lg);
  --web-app-size-xl: var(--skeleton-size-xl);
  --web-app-size-2xl: var(--skeleton-size-2xl);
  --web-app-size-3xl: var(--skeleton-size-3xl);
  --web-app-size-4xl: var(--skeleton-size-4xl);

  /* Font families */
  --web-app-primary-font-family: "Bolder";
  --web-app-content-font-family: var(--skeleton-content-font-family);

  /* Font sizes */
  --web-app-font-size-4xs: var(--skeleton-font-size-4xs);
  --web-app-font-size-3xs: var(--skeleton-font-size-3xs);
  --web-app-font-size-2xs: var(--skeleton-font-size-2xs);
  --web-app-font-size-xs: var(--skeleton-font-size-xs);
  --web-app-font-size-sm: var(--skeleton-font-size-sm);
  --web-app-font-size-md: var(--skeleton-font-size-md);
  --web-app-font-size-lg: var(--skeleton-font-size-lg);
  --web-app-font-size-xl: var(--skeleton-font-size-xl);
  --web-app-font-size-2xl: var(--skeleton-font-size-2xl);
  --web-app-font-size-3xl: var(--skeleton-font-size-3xl);
  --web-app-font-size-4xl: var(--skeleton-font-size-4xl);

  /* Line heights */
  --web-app-line-height-xs: var(--skeleton-line-height-xs);
  --web-app-line-height-sm: var(--skeleton-line-height-sm);
  --web-app-line-height-md: var(--skeleton-line-height-md);
  --web-app-line-height-lg: var(--skeleton-line-height-lg);

  /* Font weights */
  --web-app-font-weight-light: var(--skeleton-font-weight-light);
  --web-app-font-weight-normal: var(--skeleton-font-weight-normal);
  --web-app-font-weight-bold: var(--skeleton-font-weight-bold);

  /* Border radiuses */
  --web-app-border-radius-sm: 0;
  --web-app-border-radius-md: 0;
  --web-app-border-radius-lg: 0;

  /* Focus border */
  --web-app-focus-border: unset;

  /* Theme colors */
  --web-app-color-white: hsl(0 0% 100%);
  --web-app-color-black: hsl(0 0% 0%);
  --web-app-color-grey: var(--skeleton-color-grey-1);

  --web-app-color-link: var(--web-app-color-black);
  --web-app-color-link-active: var(--web-app-color-black);

  --web-app-color-heading: var(--web-app-color-black);

  --web-app-color-primary-text: var(--web-app-color-black);

  --web-app-color-disabled: #eff4f6;

  --web-app-color-primary-action: var(--rotterdam-color-green);
  --web-app-color-primary-action-hover: var(--rotterdam-color-green);

  --web-app-color-secondary-action: var(--rotterdam-color-green);
  --web-app-color-secondary-action-hover: var(--rotterdam-color-green);

  --web-app-color-table-row-background-hover: #eff4f6;

  --web-app-color-invalid: hsl(6 93% 42%);

  --web-app-color-background-light: #eff4f6;
  --web-app-color-body-background: var(--web-app-color-white);

  --web-app-color-background-page-header: var(--rotterdam-color-green);
  --web-app-color-page-header: var(--web-app-color-white);

  --web-app-color-background-page-top-bar: var(--web-app-color-white);

  --web-app-color-background-footer: #eff4f6;
  --web-app-color-footer-headings: auto;
  --web-app-color-footer-links: var(--web-app-color-black);

  --web-app-header-logo-container-background-color: unset;
  --web-app-header-logo-container-padding: unset;
  --web-app-header-logo-container-border-radius: 0;
  --web-app-header-logo-container-height: 25px;
  --web-app-header-organization-logo-width: 115px;
  --web-app-header-organization-logo-src: url("../../../assets/svgs/LogoRotterdam.svg");

  --web-app-footer-logo-container-background-color: unset;
  --web-app-footer-logo-container-padding: unset;
  --web-app-footer-logo-container-border-radius: 0;
  --web-app-footer-logo-container-height: 50px;
  --web-app-footer-organization-logo-width: 230px;
  --web-app-footer-organization-logo-src: url("../../../assets/svgs/LogoRotterdam.svg");

  --web-app-rating-active-color: var(--rotterdam-color-green);
  --web-app-rating-disable-color: #bfbfbf;

  --web-app-layer-color-interaction: #1a75ff;
  --web-app-layer-color-process: #dd3c49;
  --web-app-layer-color-integration: #efc025;
  --web-app-layer-color-services: #69b090;
  --web-app-layer-color-data: #7a51c8;

  --web-app-layer-category-color-interaction: #cfe2ff;
  --web-app-layer-category-color-process: #f8d7da;
  --web-app-layer-category-color-integration: #fff3cd;
  --web-app-layer-category-color-services: #d1e7dd;
  --web-app-layer-category-color-data: #e2d9f3;

  --web-app-breadcrumb-color: var(--rotterdam-color-green);

  --web-app-submit-component-background-color: var(--skeleton-color-grey-1);

  /* Components */
  --web-app-tag-color: var(--web-app-color-black);
  --web-app-tag-background-color: var(--skeleton-color-grey-1);

  --web-app-card-border-color: 1px solid var(--skeleton-color-grey-2);

  --web-app-organization-card-logo-height: 100px;
  --web-app-organization-card-logo-width: 100px;

  --web-app-code-block-background-color: var(--skeleton-color-grey-1);

  --web-app-badge-counter-color: var(--web-app-color-black);
  --web-app-badge-counter-background-color: var(--skeleton-color-grey-1);
  --web-app-badge-counter-height: 18px;
  --web-app-badge-counter-width: 18px;
  --web-app-badge-counter-font-size: 12px;
  --web-app-badge-counter-max-number-font-size: 10px;

  --web-app-layer-accordion-inactive-opacity: 0.65;
  --web-app-layer-accordion-disabled-opacity: 0.15;

  --web-app-component-image-max-width: 300px;
  --web-app-component-rating-indicator-height: 160px;

  --web-app-organization-detail-logo-height: 300px;
  --web-app-organization-detail-logo-width: 350px;

  --web-app-component-detail-logo-height: 225px;
  --web-app-component-detail-logo-width: 300px;

  --web-app-relations-frame-width: 1024px;
  --web-app-relations-frame-height: 500px;
  --web-app-relations-border: 1px solid #dddddd;
  --web-app-relations-background-color: rgb(251, 251, 251);

  --web-app-download-popup-width: 500px;
  --web-app-overlay-background: rgba(0, 0, 0, 0.3);
  
  --web-app-container-width-lg: 1440px;

  /* @conduction: Secondary Top Navigation */
  --web-app-secondary-top-nav-item-padding: var(--web-app-size-md);
  --web-app-secondary-top-nav-font-size: var(--web-app-font-size-md);
  --web-app-secondary-top-nav-color: var(--web-app-color-black);
  --web-app-secondary-top-nav-background-color-hover: rgba(0, 0, 0, 0.1);
  --web-app-secondary-top-nav-font-weight: var(--web-app-font-weight-light);

  /* @condcution: Primary Top Navigation */
  --web-app-primary-top-nav-item-padding: var(--web-app-size-md);
  --web-app-primary-top-nav-color: var(--web-app-color-white);
  --web-app-primary-top-nav-background-color: var(--rotterdam-color-green);
  --web-app-primary-top-nav-background-color-hover: rgba(255, 255, 255, 0.2);
  --web-app-primary-top-nav-dropdown-border-radius: var(--web-app-border-radius-md);
}
