:root {
  --conduction-pagination-container-background-color: unset;
  --conduction-pagination-container-padding-inline-start: 0px;
  --conduction-pagination-container-padding-inline-end: 0px;
  --conduction-pagination-container-padding-block-start: 0px;
  --conduction-pagination-container-padding-block-end: 0px;

  --conduction-pagination-item-gap: 8px;
  --conduction-pagination-item-color: #000000;
  --conduction-pagination-item-background-color: #ffffff;
  --conduction-pagination-item-border-radius: 4px;
  --conduction-pagination-item-padding-inline-start: 8px;
  --conduction-pagination-item-padding-inline-end: 8px;
  --conduction-pagination-item-padding-block-start: 8px;
  --conduction-pagination-item-padding-block-end: 8px;
  --conduction-pagination-item-font-size: var(--skeleton-font-size-md);
  --conduction-pagination-item-font-weight: var(--skeleton-font-weight-normal);
  --conduction-pagination-item-font-family: inherit;
  --conduction-pagination-item-border-width: unset;
  --conduction-pagination-item-border-style: unset;
  --conduction-pagination-item-border-color: unset;

  /* --conduction-pagination-navigation-button-background-color: #4376fc; */
  /* --conduction-pagination-navigation-button-color: #ffffff; */
  --conduction-pagination-navigation-button-padding-inline-start: 8px;
  --conduction-pagination-navigation-button-padding-inline-end: 8px;
  --conduction-pagination-navigation-button-padding-block-start: 0px;
  --conduction-pagination-navigation-button-padding-block-end: 0px;

  --conduction-pagination-disabled-color: #d1d1d1;
  --conduction-pagination-disabled-background-color: #fefefe;

  --conduction-pagination-current-page-background-color: #4376fc;
  --conduction-pagination-current-page-color: #ffffff;
  --conduction-pagination-current-page-font-weight: bold;
  --conduction-pagination-current-page-text-decoration: unset;
  --conduction-pagination-current-page-border-width: unset;
  --conduction-pagination-current-page-border-style: unset;
  --conduction-pagination-current-page-border-color: unset;

  --conduction-pagination-page-hover-color: #4376fc;
  --conduction-pagination-page-hover-background-color: #ffffff;
  --conduction-pagination-page-hover-text-decoration: unset;
  --conduction-pagination-page-hover-text-decoration-thickness: 0px;
  --conduction-pagination-page-hover-border-width: unset;
  --conduction-pagination-page-hover-border-style: unset;
  --conduction-pagination-page-hover-border-color: unset;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  gap: var(--conduction-pagination-item-gap);
  background-color: var(--conduction-pagination-container-background-color);
  padding-inline-start: var(--conduction-pagination-container-padding-inline-start);
  padding-inline-end: var(--conduction-pagination-container-padding-inline-end);
  padding-block-start: var(--conduction-pagination-container-padding-block-start);
  padding-block-end: var(--conduction-pagination-container-padding-block-end);
  user-select: none;
}

.container > li.currentPage > a {
  color: var(--conduction-pagination-current-page-color);
  background-color: var(--conduction-pagination-current-page-background-color);
  border: var(--conduction-pagination-current-page-border-width) var(--conduction-pagination-current-page-border-style) var(--conduction-pagination-current-page-border-color);
  border-radius: var(--conduction-pagination-item-border-radius);
  padding-inline-start: var(--conduction-pagination-item-padding-inline-start);
  padding-inline-end: var(--conduction-pagination-item-padding-inline-end);
  padding-block-start: var(--conduction-pagination-item-padding-block-start);
  padding-block-end: var(--conduction-pagination-item-padding-block-end);
  font-size: var(--conduction-pagination-item-font-size);
  font-weight: var(--conduction-pagination-current-page-font-weight);
  font-family: var(--conduction-pagination-item-font-family);
  text-decoration: var(--conduction-pagination-current-page-text-decoration);
}

.container > li:not(.previous):not(.next):not(.currentPage) > a {
  color: var(--conduction-pagination-item-color);
  background-color: var(--conduction-pagination-item-background-color);
  border: var(--conduction-pagination-item-border-width) var(--conduction-pagination-item-border-style) var(--conduction-pagination-item-border-color);
  border-radius: var(--conduction-pagination-item-border-radius);
  padding-inline-start: var(--conduction-pagination-item-padding-inline-start);
  padding-inline-end: var(--conduction-pagination-item-padding-inline-end);
  padding-block-start: var(--conduction-pagination-item-padding-block-start);
  padding-block-end: var(--conduction-pagination-item-padding-block-end);
  font-size: var(--conduction-pagination-item-font-size);
  font-weight: var(--conduction-pagination-item-font-weight);
  font-family: var(--conduction-pagination-item-font-family);
}

.button {
  pointer-events: none;
}

.disabled:hover,
.currentPage:hover {
  cursor: not-allowed;
}

.container > li.disabled > a {
  color: var(--conduction-pagination-disabled-color);
  background-color: var(--conduction-pagination-disabled-background-color);
}

.container > li:hover:not(.disabled):not(.currentPage) {
  cursor: pointer;
}

.container > li:hover:not(.disabled):not(.currentPage):not(.next):not(.previous) > a {
  color: var(--conduction-pagination-page-hover-color);
  background-color: var(--conduction-pagination-page-hover-background-color);
  text-decoration: var(--conduction-pagination-page-hover-text-decoration);
  text-decoration-thickness: var(--conduction-pagination-page-hover-text-decoration-thickness);
  border: var(--conduction-pagination-page-hover-border-width) var(--conduction-pagination-page-hover-border-style) var(--conduction-pagination-page-hover-border-color);
}

.button {
  background-color: var(--conduction-pagination-navigation-button-background-color) !important;
  color: var(--conduction-pagination-navigation-button-color) !important;
  /* padding-inline-start: var(--conduction-pagination-navigation-button-padding-inline-start) !important;
  padding-inline-end: var(--conduction-pagination-navigation-button-padding-inline-end) !important;
  padding-block-start: var(--conduction-pagination-navigation-button-padding-block-start) !important;
  padding-block-end: var(--conduction-pagination-navigation-button-padding-block-end) !important; */
}
