.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: var(--web-app-size-xl);
  column-gap: var(--web-app-size-md);
}

.chart {
  text-align: center;
}

.chartLegendContainer {
  display: flex;
  gap: var(--web-app-size-md);
  align-items: center;
}

.legendTitle {
  display: block;
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  user-select: none;
}

.legendContainer {
  overflow-y: auto;
  max-height: 180px;
  min-width: 125px;
}

.legend {
  display: flex;
  gap: 5px;
  text-align: left;
}
