:export {
  layerColorInteractie: --web-app-layer-color-interaction;
  layerColorProces: --web-app-layer-color-process;
  layerColorIntegratie: --web-app-layer-color-integration;
  layerColorService: --web-app-layer-color-services;
  layerColorData: --web-app-layer-color-data;
}

.relationsContainer {
  height: var(--web-app-relations-container-height);
  width: var(--web-app-relations-container-width);
  border: var(--web-app-relations-border);
  background-color: var(--web-app-relations-background-color);
}
