.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.container > .backButton {
  margin-block-start: var(--web-app-size-2xl);
  margin-block-end: var(--web-app-size-sm);
}

.header {
  margin-block-start: var(--web-app-size-3xl);
}

.description {
  margin-block-start: var(--web-app-size-sm) !important;
  margin-block-end: var(--web-app-size-md) !important;
  color: var(--web-app-color-text-grey) !important;
}

.title:not(:last-child) {
  display: flex;
  margin-inline-end: var(--web-app-size-2xs);
}

.solutions {
  margin-block-start: var(--web-app-size-xl);
}

.solutionsHeader {
  margin-block-end: var(--web-app-size-md);
}

.maxNumber {
  --conduction-badge-counter-font-size: var(--web-app-badge-counter-max-number-font-size);
}

.title {
  color: var(--web-app-color-text-grey) !important;
}

.resultsDisplaySwitchButtons {
  display: flex;
  align-items: center;
}

.resultsDisplaySwitchButtons > * {
  display: flex;
  align-items: center;
}

.resultsDisplaySwitchButtons *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--web-app-size-xs);
}

.results > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}
.categoryTitle {
  display: flex;
}
