.container > * {
  margin-block-start: var(--web-app-size-3xl);
}

.section > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
  color: var(--web-app-color-text-grey) !important;
}

.description {
  color: var(--web-app-color-text-grey) !important;
}
