.ComponentsGrid {
  display: grid;
  grid-gap: var(--web-app-size-lg);
  grid-template-columns: 1fr;
}

.title {
  color: var(--web-app-color-text-grey) !important;
}

.description {
  color: var(--web-app-color-text-grey) !important;
}

.subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.trigger {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggleIcon {
  transition: transform 200ms ease-in-out;
}

.toggleIcon.active {
  transition: transform 200ms ease-in-out;
}

.toggleIcon.isOpen {
  transform: rotate(90deg);
}

.showMoreButton {
  margin-block-start: var(--web-app-size-md);
}

@media only screen and (min-width: 576px) {
  .ComponentsGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 992px) {
  .ComponentsGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
