.formContent {
  display: flex !important;
  justify-content: space-between !important;
}

.formField {
  width: 100% !important;
  max-width: 650px !important;
}

.inputUrl > div {
  margin-block-end: unset !important;
  margin-block-start: unset !important;
}

@media screen and (max-width: 1060px) {
  .standardsTableWrapper {
    width: 100% !important;
    overflow-x: auto !important;
  }

  .container *:not(:last-child) {
    margin-block-end: var(--web-app-size-sm) !important;
  }

  .formContent {
    display: unset !important;
  }

  .formContent *:not(:last-child) {
    margin-block-end: var(--web-app-size-xs) !important;
  }
}
