.container > *:not(:last-child) {
  margin-block-end: var(--skeleton-size-4xl);
}

.backButton {
  margin-block-start: var(--skeleton-size-2xl);
}

.container > .headingContainer {
  display: flex;
  margin-block-end: var(--skeleton-size-2xl);
}

.headingContainer > *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-xl);
}

.headingContent > *:not(:last-child) {
  margin-block-end: var(--skeleton-size-md);
}

.tags > *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-sm);
}

.addToCatalogusContainer {
  display: flex;
  flex-direction: column;
}

.addToCatalogusContainer > .componentImg {
  max-width: 300px;
}

.addToCatalogusContainer > *:not(:last-child) {
  margin-block-end: var(--skeleton-size-md);
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: var(--skeleton-size-md);
}

.subtitle {
  font-weight: 100;
  font-size: var(--skeleton-font-size-lg);
}

.externalLink {
  text-decoration: none;
}

.description {
  padding-top: var(--skeleton-size-md);
}

.tabs :first-child {
  width: fit-content;
}

.tabPanel {
  padding-inline-start: var(--skeleton-size-lg) !important;
  padding-inline-end: var(--skeleton-size-lg) !important;
  padding-block-start: var(--skeleton-size-lg) !important;
  padding-block-end: var(--skeleton-size-lg) !important;
}
