.container > *:not(:last-child) {
  margin-block-end: calc(var(--nlportal-space-block-4xl) * 2);
}

.backButton {
  margin-block-start: var(--nlportal-space-block-3xl);
}

.container > .headingContainer {
  display: flex;
  margin-block-end: var(--nlportal-space-block-4xl);
}

.headingContainer > *:not(:last-child) {
  margin-inline-end: var(--nlportal-space-block-2xl);
}

.headingContent > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-md);
}

.tags > *:not(:last-child) {
  margin-inline-end: var(--nlportal-space-inline-xs);
}

.addToCatalogusContainer {
  display: flex;
  flex-direction: column;
}

.addToCatalogusContainer > .componentImg {
  max-width: var(--conduction-info-card-width);
}

.addToCatalogusContainer > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-md);
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: var(--denhaag-space-block-md);
}

.subtitle {
  font-weight: 100;
  font-size: var(--conduction-component-detail-sub-title-font-size);
}

.externalLink {
  text-decoration: none;
}

.description {
  padding-top: var(--nlportal-space-block-lg);
}

.tabs :first-child {
  width: fit-content;
}

.tabPanel {
  padding-inline-start: var(--nlportal-space-inline-lg) !important;
  padding-inline-end: var(--nlportal-space-inline-lg) !important;
  padding-block-start: var(--nlportal-space-inline-lg) !important;
  padding-block-end: var(--nlportal-space-inline-lg) !important;
}
