.paginationLink {
  font-size: var(--web-app-font-size-lg);
}

.paginationLinkSmall {
  font-size: var(--web-app-font-size-md);
}

.paginationLink :hover {
  cursor: pointer;
  color: var(--web-app-color-link-active);
  user-select: none;
}
.paginationLinkSmall :hover {
  cursor: pointer;
  color: var(--web-app-color-link-active);
  user-select: none;
}

.paginationActivePage {
  color: var(--web-app-color-link-active);
  font-weight: var(--web-app-font-weight-bold);
  font-size: var(--web-app-font-size-lg);
}

.paginationActivePageSmall {
  color: var(--web-app-color-link-active);
  font-weight: var(--web-app-font-weight-bold);
  font-size: var(--web-app-font-size-md);
}

.paginationActivePage :hover {
  cursor: default;
  user-select: none;
}

.paginationActivePageSmall :hover {
  cursor: default;
  user-select: none;
}

.paginationDisabled {
  color: var(--web-app-color-disabled);
}

.paginationDisabled :hover {
  cursor: unset !important;
  color: var(--web-app-color-disabled);
}

.breakLink {
  font-size: var(--web-app-font-size-lg);
}

.breakLink :hover {
  cursor: default !important;
}

@media only screen and (min-width: 992px) {
  .paginationActivePage {
    color: var(--web-app-color-link-active);
    font-weight: var(--web-app-font-weight-bold);
    font-size: var(--web-app-font-size-lg);
  }

  .paginationLink {
    font-size: var(--web-app-font-size-lg);
  }
}
