.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.header {
  margin-block-start: var(--web-app-size-3xl);
}

.subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.title {
  color: var(--web-app-color-text-grey)!important;
}

.description {
  color: var(--web-app-color-text-grey)!important;
}
