:root {
  --layer-background-color: #f5f5f5;
  --layer-box-shadow: rgb(33 33 33 / 25%) 0px -3px 0px inset;
}

.title {
  display: block;
  margin-bottom: var(--skeleton-size-lg);
  font-size: var(--skeleton-font-size-2xl);
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > * {
  margin-block-end: var(--skeleton-size-md);
}

.container > *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-md);
}

.component {
  background-color: var(--layer-background-color);
  box-shadow: var(--layer-box-shadow);
  padding: var(--skeleton-size-md);
}

.component:hover {
  cursor: pointer;
}

.beta,
.gewenst,
.gepland {
  border-right-width: var(--skeleton-size-xs);
  border-right-style: solid;
}

.beta {
  border-right-color: var(--conduction-color-beta);
}

.gepland {
  border-right-color: var(--conduction-color-gepland);
}

.gewenst {
  border-right-color: var(--conduction-color-gewenst);
}

.layer {
  margin-bottom: var(--skeleton-size-lg);
}
