.title {
  display: block;
  margin-bottom: var(--skeleton-size-lg);
  font-size: var(--skeleton-font-size-2xl);
  font-weight: bold;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.container > * {
  margin-block-end: var(--skeleton-size-md);
}

.container > *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-md);
}

.component {
  background-color: var(--skeleton-color-grey-1);
  box-shadow: rgb(33 33 33 / 25%) 0px -3px 0px inset;
  padding: var(--skeleton-size-md);
}

.component:hover {
  cursor: pointer;
}

.beta,
.gewenst,
.gepland {
  border-right-width: var(--skeleton-size-xs);
  border-right-style: solid;
}

.beta {
  border-right-color: #ffbc2c;
}

.gepland {
  border-right-color: #005282;
}

.gewenst {
  border-right-color: #38aeda;
}

.layer {
  margin-bottom: var(--skeleton-size-lg);
}
