.container > * {
  display: block;
}

.container > *:not(:last-child) {
  margin-bottom: var(--skeleton-size-md);
}

.heading {
  font-weight: bold;
  font-size: var(--skeleton-font-size-xl);
}

.button {
  width: fit-content;
}
