.container > * {
  display: block;
}

.container > *:not(:last-child) {
  margin-bottom: var(--web-app-size-md);
}

.heading {
  font-weight: bold;
  font-size: var(--web-app-font-size-xl);
}

.buttons {
  display: grid;
  gap: var(--web-app-size-md);
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 576px) {
  .buttons {
    grid-template-columns: 1fr 1fr;
  }
}
