:export {
  layerColorInteraction: --web-app-layer-color-interaction;
  layerColorProcess: --web-app-layer-color-process;
  layerColorIntegration: --web-app-layer-color-integration;
  layerColorServices: --web-app-layer-color-services;
  layerColorData: --web-app-layer-color-data;
}

.ComponentsGrid {
  display: grid;
  grid-gap: var(--web-app-size-lg);
  grid-template-columns: 1fr 1fr;
}

/* Colors of the 5 layers */
.interactieCategory {
  --denhaag-button-secondary-action-background-color: var(--web-app-layer-category-color-interaction);
}
.interactieCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(--web-app-layer-category-color-interaction);
  --denhaag-button-secondary-action-hover-color: var(--web-app-layer-color-interaction);
}

.procesCategory {
  --denhaag-button-secondary-action-background-color: var(--web-app-layer-category-color-process);
}
.procesCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(--web-app-layer-category-color-process);
  --denhaag-button-secondary-action-hover-color: var(--web-app-layer-color-process);
}

.integratieCategory {
  --denhaag-button-secondary-action-background-color: var(--web-app-layer-category-color-integration);
}
.integratieCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(--web-app-layer-category-color-integration);
  --denhaag-button-secondary-action-hover-color: var(--web-app-layer-color-integration);
}

.serviceCategory {
  --denhaag-button-secondary-action-background-color: var(--web-app-layer-category-color-services);
}
.serviceCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(--web-app-layer-category-color-services);
  --denhaag-button-secondary-action-hover-color: var(--web-app-layer-color-services);
}

.dataCategory {
  --denhaag-button-secondary-action-background-color: var(--web-app-layer-category-color-data);
}
.dataCategory:hover {
  --denhaag-button-secondary-action-hover-background-color: var(--web-app-layer-category-color-data);
  --denhaag-button-secondary-action-hover-color: var(--web-app-layer-color-data);
}

.test {
  --badge-counter-background: blue;
  --badge-counter-color: green;
}
