:export {
  layerColorInteraction: --web-app-layer-color-interaction;
  layerColorProcess: --web-app-layer-color-process;
  layerColorIntegration: --web-app-layer-color-integration;
  layerColorServices: --web-app-layer-color-services;
  layerColorData: --web-app-layer-color-data;
  layerColorUnknown: --web-app-color-top-nav-grey;
  layerColorDisabled: --web-app-color-background-light;
}

.LayerColorSample {
  margin-inline-end: 2px;
  --utrecht-color-sample-inline-size: 0.75em;
  --utrecht-color-sample-block-size: 0.75em;
}

.ComponentsGrid {
  grid-template-columns: 1fr 1fr;
}

.ComponentsGrid > :not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

@media only screen and (min-width: 576px) {
  .ComponentsGrid {
    display: grid;
    grid-gap: var(--web-app-size-lg);
    grid-template-columns: 1fr 1fr;
  }

  .ComponentsGrid > :not(:last-child) {
    margin-block-end: 0;
  }
}
