:root {
  --conduction-primary-top-nav-item-padding: var(--skeleton-size-md);
  --conduction-primary-top-nav-color: var(--skeleton-color-white);
  --conduction-primary-top-nav-background-color: var(--skeleton-color-secondary-3);
  --conduction-primary-top-nav-background-color-hover: rgba(255, 255, 255, 0.2);
  --conduction-primary-top-nav-dropdown-border-radius: var(--skeleton-border-radius-md);
  --conduction-primary-top-nav-background-color-active: rgba(255, 255, 255, 0.2);
}

.container {
  width: 100%;
}

.menuToggleContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.menuToggleContainer > button {
  all: unset;
  font-size: 24px;
  padding: var(--web-app-size-md);
}

.menuToggleContainer > button:hover {
  cursor: pointer;
}

.primary {
  display: none;
}

.primary.isOpen {
  display: block;
}

.menuToggleContainer {
  width: 100%;
}

.primary {
  font-weight: 500;
  width: 100%;
  background-color: var(--conduction-primary-top-nav-background-color);
}

.primary:hover {
  cursor: pointer;
}

.ul {
  margin: unset;
  padding-inline-start: unset;
  align-items: center;
}

.li {
  list-style-type: none;
  display: block;
  position: relative;
}

.li:hover {
  background-color: var(--conduction-primary-top-nav-background-color-hover);
}

.current {
  background-color: var(--conduction-primary-top-nav-background-color-active);
}

.primary .link {
  display: block;
  color: var(--conduction-primary-top-nav-color);
  padding-inline-start: var(--conduction-primary-top-nav-item-padding);
  padding-inline-end: var(--conduction-primary-top-nav-item-padding);
  padding-block-start: var(--conduction-primary-top-nav-item-padding);
  padding-block-end: var(--conduction-primary-top-nav-item-padding);
}

.primary .li:hover .dropdown {
  display: block;
  z-index: 1;
}

.dropdown {
  left: 0;
  padding: 0;
  width: 100%;
  display: none;
  list-style-type: none;
  background-color: var(--conduction-primary-top-nav-background-color);
  border-bottom-right-radius: var(--conduction-primary-top-nav-dropdown-border-radius);
  border-bottom-left-radius: var(--conduction-primary-top-nav-dropdown-border-radius);
}

.dropdown > li {
  padding-inline-start: var(--web-app-size-md);
}

@media only screen and (min-width: 992px) {
  .container {
    width: fit-content;
  }

  .primary {
    display: block;
    width: fit-content;
  }

  .ul {
    display: flex;
  }

  .dropdown {
    position: absolute;
  }

  .dropdown > li {
    padding-inline-start: 0;
  }

  .menuToggleContainer {
    display: none;
  }
}
