.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: inherit;
}

.content {
  position: relative;
  margin-block-start: calc(
    var(--conduction-unauthenticated-header-logo-height) * -1
  );
}

.header {
  margin-block-end: var(--nlportal-space-block-xl);
}
