.container {
  display: flex;
  margin-block-start: var(--web-app-size-3xl);
}

.menu {
  margin-block-start: var(--web-app-size-3xl);
}

.content {
  width: 100%;
  margin-inline: auto;
  max-width: var(--conduction-container-max-width);
}

.iconsSidenav {
  height: var(--conduction-sidenav-icon-size);
  width: var(--conduction-sidenav-icon-size);
}
