.container {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--web-app-size-3xl);
}

.menu {
  margin-block-start: var(--web-app-size-3xl);
}

.content {
  width: 100%;
  max-width: var(--conduction-container-max-width);
}

.fillerDiv {
  width: 145px;
}

.iconsSidenav {
  height: var(--conduction-sidenav-icon-size);
  width: var(--conduction-sidenav-icon-size);
}
