.primary,
.secondary {
  width: fit-content;
}

.ul {
  margin: unset;
  display: flex;
  padding-inline-start: unset;
}

.li {
  list-style-type: none;
}

.li > a {
  display: block;
  padding-inline-start: var(--nlportal-space-inline-lg);
  padding-inline-end: var(--nlportal-space-inline-lg);
  padding-block-start: var(--nlportal-space-inline-lg);
  padding-block-end: var(--nlportal-space-inline-lg);
}

.li > .link {
  color: var(--denhaag-color-white);
}

.li > .link:not(:hover) {
  text-decoration: none;
}

.primary {
  font-weight: 500;
}

.secondary {
  font-weight: 100;
  font-size: var(--conduction-top-nav-secondary-font-size);
}

.primary .li:hover {
  background-color: var(--conduction-color-secondary-hover);
}

.secondary .li:hover {
  background-color: var(--conduction-color-primary-hover);
}
