.ul {
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

.li {
  list-style-type: none;
}

.li > * {
  text-decoration: none;
  color: var(--denhaag-color-white) !important;
}

.primary {
  font-weight: bold;
}
