.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.container > .backButton {
  margin-block-start: var(--web-app-size-2xl);
  margin-block-end: var(--web-app-size-sm);
}

.header {
  margin-block-start: var(--web-app-size-3xl);
}

.subHeading {
  width: 100%;
  max-width: 800px;
  margin-block-end: var(--web-app-size-2xl);
}

.description {
  margin-block-start: var(--web-app-size-sm) !important;
  margin-block-end: var(--web-app-size-md) !important;
}

.title:not(:last-child) {
  display: flex;
  margin-inline-end: var(--web-app-size-2xs);
}