.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-md);
}

.header {
  display: flex;
}

.header > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-md);
}

.header > .headerContent {
  flex: 1;
}

.titleLink {
  font-size: var(--web-app-font-size-lg);
}

.titleLink > :first-child > span > svg {
  width: var(--web-app-font-size-lg);
  height: var(--web-app-font-size-lg);
}

.titleLink > :first-child {
  display: flex;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--web-app-size-xs);
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--web-app-organization-card-logo-height);
  width: var(--web-app-organization-card-logo-width);
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
