.footer {
  margin-block-start: var(--nlportal-space-block-4xl);
  background-color: var(--denhaag-color-grey-1);
  padding-block-start: var(--nlportal-space-block-2xl);
  padding-block-end: var(--nlportal-space-block-2xl);
}

.headings {
  display: flex;
  justify-content: space-between;
  color: var(--denhaag-color-grey-4);
  font-size: var(--conduction-content-link-font-size);
}

.imagesContainer {
  display: flex;
  cursor: pointer;
  height: var(--conduction-footer-logo-height-size);
  padding-top: var(--nlportal-space-block-2xl);
}

.imagesContainer > :not(:last-child) {
  margin-right: var(--nlportal-space-inline-xl);
}
