.container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  max-inline-size: var(--utrecht-page-max-inline-size);
  padding-inline-start: var(--utrecht-page-margin-inline-start);
  padding-inline-end: var(--utrecht-page-margin-inline-end);
}

.footer {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: var(--utrecht-page-footer-background-size);
  background-position: var(--utrecht-page-footer-background-position);
  min-height: var(--utrecht-page-footer-min-height);
}

.imageContainer {
  height: var(--utrecht-page-footer-logo-max-height);
  width: var(--utrecht-page-footer-logo-max-width);
}

.image {
  vertical-align: middle;
  margin-inline-end: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image:hover {
  cursor: pointer;
}

.link {
  color: var(--utrecht-page-footer-link-color, inherit) !important;
  text-decoration-line: var(--utrecht-page-footer-link-text-decoration, inherit) !important;
  text-decoration-color: var(--utrecht-page-footer-link-text-decoration-color, inherit) !important;
  text-decoration-thickness: var(--utrecht-page-footer-link-text-decoration-thickness, inherit) !important;
  text-underline-offset: var(--utrecht-page-footer-link-text-underline-offset, inherit) !important;
  display: inline-flex;
}

.link:hover {
  cursor: pointer;
  color: var(--utrecht-page-footer-link-hover-color, inherit) !important;
  text-decoration-line: var(--utrecht-page-footer-link-hover-text-decoration, inherit) !important;
  text-decoration-thickness: var(--utrecht-page-footer-link-hover-text-decoration-thickness, inherit) !important;
}

.withLoveConductionLink {
  display: inline-block;
}
.withLoveConductionLink:hover {
  margin-inline-start: 10px;
}

.withLoveLink:hover > :first-child {
  transform: scale(1.2);
}
.withLoveLink > :first-child {
  transition: all 1s;
  transform-origin: 50% 50%;
  margin-inline-end: unset;
}

.contentGrid {
  gap: 28px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.dynamicSectionTitle {
  margin-block-end: 18px;
  color: inherit !important;
}

.dynamicSectionContent {
  display: flex;
  flex-direction: column;
  margin-block-end: 8px;
}

.logoAndConduction {
  display: block;
}

.iconLeft {
  margin-inline-end: var(--web-app-size-2xs);
}
.iconRight {
  margin-inline-start: var(--web-app-size-2xs);
}

.iconLeft,
.iconRight {
  color: var(--utrecht-page-footer-icon-color, inherit);
}

@media only screen and (min-width: 576px) {
  .contentGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .logoAndConduction {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media only screen and (min-width: 992px) {
  .contentGrid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  
  .logoAndConduction {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
