.table {
  width: 100%;
  overflow-x: auto;
}

.tableBoxShadow {
  position: relative;
  z-index: 5;
}

.tableBoxShadow::before {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 6;
  transition: 0.2s all ease-in;
}

.tableBoxShadowR::before {
  box-shadow: inset 0px 0px 10px -10px rgba(0, 0, 0, 0.2), inset -16px 0px 10px -10px rgba(0, 0, 0, 0.2);
}

.tableBoxShadowL::before {
  box-shadow: inset 16px 0px 10px -10px rgba(0, 0, 0, 0.2), inset -0px 0px 10px -10px rgba(0, 0, 0, 0.2);
}

.tableBoxShadowM::before {
  box-shadow: inset 16px 0px 10px -10px rgba(0, 0, 0, 0.2), inset -16px 0px 10px -10px rgba(0, 0, 0, 0.2);
}
