.container {
  max-width: 1440px;
}

.container > *:not(:last-child) {
  margin-block-end: var(--skeleton-size-xl);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--skeleton-size-3xl);
}

.resultsDisplaySwitchButtons {
  display: flex;
  align-items: center;
}

.resultsDisplaySwitchButtons > * {
  display: flex;
  align-items: center;
}

.resultsDisplaySwitchButtons *:not(:last-child) {
  margin-inline-end: var(--skeleton-size-xs);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--skeleton-size-xs);
}

.filtersAndResultsContainer {
  display: flex;
  gap: var(--skeleton-size-lg);
}

.verticalFilters {
  flex: 1;
  min-width: 280px;
}

.results {
  flex: 3;
}

.results > *:not(:last-child) {
  margin-block-end: var(--skeleton-size-xl);
}
