.container {
  max-width: var(--web-app-container-width-lg);
}

.container > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.header > :not(:last-child) {
  margin-block-end: var(--web-app-size-lg);
}

.resultsDisplaySwitchButtons {
  display: flex;
  align-items: center;
}

.resultsDisplaySwitchButtons > * {
  display: flex;
  align-items: center;
}

.resultsDisplaySwitchButtons *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--web-app-size-xs);
}

.filtersAndResultsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--web-app-size-lg);
}

.verticalFilters {
  flex: 1;
  min-width: 280px;
  height: min-content;
}

.results {
  flex: 3;
}

.results > *:not(:last-child) {
  margin-block-end: var(--web-app-size-xl);
}

.title {
  color: var(--web-app-color-text-grey) !important;
}

.activeFiltersHeader {
  display: flex;
}

.activeFiltersHeader {
  margin-block-end: var(--web-app-size-xs);
}

.activeFiltersHeader > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.removeActiveFiltersButton:hover {
  cursor: pointer;

  --conduction-tag-background-color: #ffbdad;
}

.activeFilters {
  display: flex;
  flex-wrap: wrap;
}

.activeFilters > *:not(:last-child) {
  margin-inline-end: var(--web-app-size-xs);
}

.activeFilters > div {
  margin-block-end: var(--web-app-size-xs);
}

.paginationContainer {
  display: flex;
  padding-left: 0;
  list-style: none;
  justify-content: center;
}

.paginationContainer > *:not(:last-child) {
  flex: 1;
}

.paginationLink {
  font-size: var(--web-app-font-size-lg);
}

.paginationLinkSmall {
  font-size: var(--web-app-font-size-md);
}

.paginationLink :hover {
  cursor: pointer;
  color: var(--web-app-color-link-active);
}

.paginationActivePage {
  color: var(--web-app-color-link-active);
  font-weight: var(--web-app-font-weight-bold);
  font-size: var(--web-app-font-size-lg);
}

.paginationActivePageSmall {
  color: var(--web-app-color-link-active);
  font-weight: var(--web-app-font-weight-bold);
  font-size: var(--web-app-font-size-md);
}

.paginationActivePage :hover {
  cursor: default;
}

.paginationDisabled :hover {
  cursor: unset !important;
  color: var(--web-app-color-disabled);
}

.paginationDisabled {
  color: var(--web-app-color-disabled);
}

.breakLink {
  font-size: var(--web-app-font-size-lg);
}
.breakLink :hover {
  cursor: default !important;
}

@media only screen and (min-width: 992px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin-block-start: var(--web-app-size-3xl) !important;
  }
  .header > :not(:last-child) {
    margin-block-end: 0px;
  }
  .filtersAndResultsContainer {
    flex-direction: row;
  }

  .paginationContainer > *:not(:first-child) {
    margin-inline-start: var(--web-app-size-xl);
  }

  .paginationContainer > *:not(:last-child) {
    flex: unset !important;
  }

  .paginationLink {
    font-size: var(--web-app-font-size-lg);
  }

  .paginationActivePage {
    color: var(--web-app-color-link-active);
    font-weight: var(--web-app-font-weight-bold);
    font-size: var(--web-app-font-size-lg);
  }
}
