.container > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.header {
  margin-block-start: var(--nlportal-space-block-5xl);
}

.form {
  display: flex;
}

.form > * {
  flex: 1;
}

.form > *:not(:last-child) {
  margin-inline-end: var(--nlportal-space-block-xl);
}

.componentsGrid {
  display: grid;
  grid-gap: var(--nlportal-space-block-md);
  grid-template-columns: 1fr 1fr;
}
