.container > *:not(:last-child) {
  margin-block-end: var(--nlportal-space-block-4xl);
}

.header {
  display: flex;
  justify-content: space-between;
  margin-block-start: var(--nlportal-space-block-5xl);
}

.resultsDisplaySwitchButtons {
  display: flex;
  align-items: center;
}

.resultsDisplaySwitchButtons > * {
  display: flex;
  align-items: center;
}

.resultsDisplaySwitchButtons *:not(:last-child) {
  margin-inline-end: var(--nlportal-space-inline-xs);
}

.buttonIcon > span > svg {
  margin-inline-end: var(--nlportal-space-inline-xs);
}

.formFilters{
  display: grid;
  grid-template-columns: 2fr 6fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15px;
}

.formFilters > :first-child{
  grid-row: 1/7;
}